<!DOCTYPE html>
<html>
<head></head>
<body style="background-color:#F5F6F1; color:black;">
  <div class="container" style="border-radius:15px; padding:2rem; margin-left:auto; margin-right:auto; margin-top:4rem; margin-bottom:4rem; display: flex; justify-content: center; align-items: center; height: 500px; width:50%; padding:70px; background-color:white;">
    <div style="text-align: center;">
      <div><a href="https://www.tech-forge.fr">
        <img width="150" src="https://https://studio-script.sgp1.cdn.digitaloceanspaces.com/studio-script-static/img/Principal_noir.png">
      </a></div>
      <div>
        <h3 style="font-size:40px; font-weight:900;"> Nouvelle demande sur The Forge !</h3>
        <p style="font-size:20px; ">Un nouveau message a été reçu : </p><br>
        <hr>
        <div style="text-align:left;">
          <p><strong>Nom : </strong>{{first_name}} {{last_name}}</p>
          <p><strong>Email : </strong>{{email}}</p>
          <p><strong>Tel : </strong>{{phone}}</p>
          <p><strong>Entreprise : </strong>{{company}} ({{field}})</p>
          <p><strong>Message : </strong>{{content}}</p>
          <p><strong>Le client souhaite être rappelé : </strong> {{callback_request}}</p>

        </div>
         <hr>

      </div>
    </div>
  </div>
</body>
</html>