{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="The Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="The Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="URL de l'image à afficher sur les réseaux sociaux">

    <!-- Balises Twitter Card pour Twitter (remplacez les valeurs par les vôtres) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@votrecompte">
    <meta name="twitter:title" content="Nom de votre entreprise">
    <meta name="twitter:description" content="Entreprise de développement informatique de pointe spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques du futur.">
    <meta name="twitter:image" content="URL de l'image à afficher sur Twitter">

    <!-- Favicon -->
     <link rel="icon" href="{% static 'Logos/Icones/Icones_gris_bleu.png' %}" type="image/x-icon">

    <title>The Forge - intelligence artificielle </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/AI.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">

  </head>
  <body style="background-color:#F5F6F1 !important; color: #015453 !important; font-family: 'articulat-cf' !important;">

  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#F5F6F1 !important; color:#015453 !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_bleu.svg' %}" alt="Logo The Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">Nous rejoindre</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-bleu contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:#F5F6F1; border-style:solid; border-width:1px; border-color:#0000FF; color:#0000FF; padding:10px">
        <a type="button" onclick="closeMessage()" style="--bs-btn-close-color:white; position:absolute; left:5px; top:5px; color:#0000FF; width:5px;">X</a>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#0000FF"><path d="M8 12h48v40H8z"/><path d="M56 20L32 36 8 20"/></svg>
             <h3>Merci !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

      <div class="mt-5 container HeroContainer text-bleu m-auto fade-up">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 col-lg-6 col-sm-12 ">
            <div class="display-1">Déployer le potentiel de l'IA</div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <p class="mt-4" style="font-size:25px">Notre équipe d'experts en IA est dédiée à transformer les défis technologiques complexes de nos clients en solutions intelligentes et efficaces. </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur mesure -->
    <section>
      <div class="container text-bleu m-auto borderTop py-4 fade-up">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-lg-6 col-sm-12 mb-4">
            <h3>Solution IA sur mesure</h3>
            <p class="mt-4" style="width:20rem;">Notre équipe d'experts en IA est dédiée à transformer les défis technologiques complexes de nos clients en solutions intelligentes et efficaces. De l'automatisation avancée à l'analyse prédictive, nous façonnons l'avenir numérique pour offrir des avantages tangibles et durables.</p>
            <a class="btn btn-outline-bleu" data-bs-toggle="modal" data-bs-target="#exampleModal">Nous parler de vos besoins</a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="{% static 'Assets/images/cinematic-image-of-people-working-in-a-start-up-bu-2023-11-27-04-55-35-utc.jpg' %}" width="100%"/>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur Automatisation -->
    <section>
      <div class="container text-bleu m-auto borderTop py-4 fade-up">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-lg-6 col-sm-12 mb-4">
            <img src="{% static 'Assets/Images/automated-warehouse-agv-robots-with-delivering-2023-11-27-05-01-18-utc.jpg' %}" width="100%"/>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <h3>Automatisation Intelligente</h3>
            <p class="mt-4" style="width:20rem;">Améliorez l'efficacité et réduisez les coûts avec nos solutions d'automatisation alimentées par l'IA. De l'automatisation des processus métier à la robotique intelligente, nous aidons les entreprises à simplifier les opérations, à minimiser les erreurs humaines et à augmenter la productivité.</p>
            <a class="btn btn-outline-bleu" data-bs-toggle="modal" data-bs-target="#exampleModal">Nous parler de vos besoins</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur Automatisation -->
    <section>
      <div class="container text-bleu m-auto borderTop py-4 fade-up">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-lg-6 col-sm-12 mb-4" style="width:20rem;">
            <h3>Analyse de Données et Insights Prédictifs</h3>
            <p class="mt-4">Transformez vos données en insights actionnables avec notre expertise en analyse de données et en apprentissage automatique. Nous vous aidons à déchiffrer les tendances, à prévoir les comportements du marché et à prendre des décisions éclairées grâce à des modèles prédictifs avancés.</p>
            <a class="btn btn-outline-bleu" data-bs-toggle="modal" data-bs-target="#exampleModal">Nous parler de vos besoins</a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="{% static 'Assets/Motifs/pixels/Grille_de_pixel_carré.jpg' %}" width="80%"/>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur Automatisation -->
    <section>
      <div class="container text-bleu m-auto borderTop py-4 fade-up">
          <div class="col-12 display-1 fst-italic">
            "Science sans conscience n'est que ruine de l'âme"
          </div>
          <p>Rabelais</p>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur Automatisation -->
    <section>
      <div class="container text-bleu m-auto borderTop py-4 fade-up">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-sm-12 col-lg-6"><h3>Solutions d'IA Éthiques et Responsables</h3></div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <p>Chez The Forge, nous croyons que l'IA doit être utilisée pour le bien. C'est pourquoi nous nous engageons à développer des solutions d'IA éthiques, transparentes et responsables. Nous nous assurons que nos technologies respectent les normes les plus strictes en matière de confidentialité et de sécurité des données.</p>
            <a class="link-bleu" href="{% url 'Main:charte' %}">Consulter notre charte</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->
  </Main>

  <footer class="footer text-bleu" style="margin-top:15rem; background-color:#F5F6F1;">
  <div class="container text-bleu borderTop">
    <div class="row m-auto text-bleu" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-bleu">
        <a href="{% url 'Main:index' %}">
         <img src="{% static 'Logos/Principal/Principal_bleu.svg' %}" alt="Logo" height="60">
        </a>
      </div>
      <div class="col-md-2 mb-3 mb-md-0 text-bleu">
        <h5>Services</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-bleu">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-bleu">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-bleu">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-bleu">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-bleu">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-bleu">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-bleu">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Suivez-nous</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-bleu">LinkedIn</a></li>
          <li><a href="{% url 'Main:join' %}" class="text-bleu">Twitter</a></li>
          <li><a href="{% url 'Main:join' %}" class="text-bleu">Facebook</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@theforge.fr" class="text-bleu">contact@theforge.fr</a></li>
          <li><a href="tel:0299123244" class="text-bleu">02 99 12 32 44</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-6 flex-grow-1">
        <address class="text-bleu">
          <strong>The Forge</strong><br>
          5 CRS DE VERDUN GENSOUL<br>
          69002 LYON
          <abbr title="Phone"></abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-6 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-bleu unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-bleu unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <img src="{% static 'Assets/Motifs/horizontale/footer_bleu.png' %}" width="100%" style=" outline: none;box-shadow: none;">
</footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#F5F6F1; border-color:#0000FF">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-bleu" id="exampleModalLabel">Parlez-nous de vos besoins !</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-bleu">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-4">
                <label for="exampleFormControlInput1" class="form-label text-bleu">Votre adresse email</label>
                <input type="email" class="form-control" name='email' id="exampleFormControlInput1" placeholder="nom@exemple.com" style="background-color:transparent; color:#0000FF; border-color:#0000FF; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="firstName" class="form-label">Votre prénom</label>
                <input type="text" class="form-control" name='first_name' id="firstName" placeholder="Jane" style="background-color:transparent; color:#0000FF; border-color:#0000FF; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="lastName" class="form-label">Votre nom</label>
                <input type="text" class="form-control" name='last_name' id="lastName" placeholder="Doe" style="background-color:transparent; color:#0000FF; border-color:#0000FF; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="companyName" class="form-label">Votre Entreprise</label>
                <input type="text" class="form-control" name='company' id="companyName" placeholder="Company.ltd" style="background-color:transparent; color:#0000FF; border-color:#0000FF; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="sectorSelect" class="form-label">Votre secteur d'activité</label>
                <select class="form-control" name='field' id="sectorSelect" style="background-color:transparent; color:#0000FF; border-color:#0000FF; outline: none;box-shadow: none;" required>
                    <option value="">>> Sélectionnez votre secteur <<</option>
                    <!-- Liste exhaustive des secteurs -->
                    <option value="technologie">Technologie et Informatique</option>
                    <option value="finance">Finance et Banque</option>
                    <option value="finance">Santé et Pharmaceutique</option>
                    <option value="finance">Éducation et Formation</option>
                    <option value="finance">Industrie et Manufacture</option>
                    <option value="finance">Commerce et Distribution</option>
                    <option value="finance">Agriculture et Agroalimentaire</option>
                    <option value="finance">Énergie et Ressources</option>
                    <option value="finance">Construction et BTP</option>
                    <option value="finance">Transport et Logistique</option>
                    <option value="finance">Tourisme et Hôtellerie</option>
                    <option value="finance">Arts et Culture</option>
                    <option value="finance">Médias et Communication</option>
                    <option value="finance">Services Publics et Administration</option>
                    <option value="finance">Loisirs et Divertissement</option>
                    <option value="finance">Environnement et Développement Durable</option>
                    <option value="finance">Conseil et Gestion</option>
                    <option value="finance">Recherche et Développement</option>
                    <option value="finance">Autres</option>
                    <!-- Ajoutez d'autres options ici -->
                </select>
            </div>

            <div class="mb-3 mt-4">
                <label for="contentTextArea" class="form-label">Vos besoins</label>
                <textarea class="form-control" name='content' id="contentTextArea" placeholder="Décrivez vos besoins" style="background-color:transparent; color:#0000FF; border-color:#0000FF; outline: none;box-shadow: none;" required></textarea>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name='callback_request' id="callbackRequest" style="outline: none;box-shadow: none;">
                <label class="form-check-label" for="callbackRequest">Être rappelé ?</label>
            </div>

            <button class="btn btn-outline-bleu w-100 mt-2">Envoyer</button>
        </form>

        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });

    const paths = document.querySelectorAll('svg path');

    paths.forEach(path => {
        path.addEventListener('animationend', () => {
            path.classList.remove('draw-animation');
            path.classList.add('undraw-animation');
        });
    });

      function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    </script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
