{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="Tech Forge">

    <!-- Balises Open Graph pour les réseaux sociaux -->
    <meta property="og:title" content="Tech Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.tech-forge.fr">
    <meta property="og:image" content="https://studio-script.sgp1.cdn.digitaloceanspaces.com/studio-script-static/img/facebook-socialsizes_Open%20Graph.png">

    <!-- Favicon -->
      <link rel="icon" href="{% static 'Logos/Icones/Icones_vert_gris.png' %}" type="image/x-icon">

    <title>Tech Forge - intelligence artificielle </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/AI.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WND3G6HJ');</script>
    <!-- End Google Tag Manager -->

  </head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-74E6QKK31W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-74E6QKK31W');
</script>

  <body style="background-color:#F5F6F1 !important; color: #015453 !important; font-family: 'articulat-cf' !important;">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WND3G6HJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#F5F6F1 !important; color:black !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_noir.svg' %}" alt="Logo Tech Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown" style="color:black !important">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notre expertise
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">L'équipe</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-black contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:#F5F6F1; border-style:solid; border-width:1px; border-color:black; color:black; padding:10px">
        <a type="button" onclick="closeMessage()" style="--bs-btn-close-color:white; position:absolute; left:5px; top:5px; color:#00000; width:5px;">X</a>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#00000"><path d="M8 12h48v40H8z"/><path d="M56 20L32 36 8 20"/></svg>
             <h3>Merci !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

      <div class="mt-5 container HeroContainer text-black m-auto fade-up">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-7 col-lg-7 col-sm-12 ">
            <div class="display-1">Déployez tout le potentiel de l'IA</div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <!--<p class="mt-4" style="font-size:25px">Notre équipe d'experts en IA est dédiée à transformer les défis technologiques complexes de nos clients en solutions intelligentes et efficaces. </p>-->
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur mesure -->
    <section>
      <div class="container text-black m-auto borderTop py-4 fade-up">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-3 col-lg-3 col-sm-12 mb-4">
            <div class="text-left" style="margin-bottom:2.5rem;">
              <img src="{% static 'Assets/Motifs/illustration_AI_machine_learning.webp' %}" style="width:60%">
            </div>

            <h3> Machine learning</h3>
            <p class="mt-5" style="width:20rem;">Notre expertise en Machine Learning nous permet de développer des algorithmes sophistiqués qui apprennent de façon récursive à partir d'un ensemble de données complexes. Nous apportons notre expertise dans la création de solutions pour la prédiction de tendances, la détection de fraudes, et l'optimisation des processus.</p>
            <p><strong>Expérience :</strong> développement de systèmes prédictifs pour l'analyse financière, solutions de détection de fraudes pour les banques, optimisation des chaînes d'approvisionnement.</p>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12 mb-4">
             <div class="text-left" style="margin-bottom:2.5rem;">
              <img src="{% static 'Assets/Motifs/illustration_AI_Deep_learning.webp' %}" style="width:60%">
            </div>

            <h3>Deep learning</h3>
            <p class="mt-5" style="width:20rem;">Le Deep Learning, un domaine avancé du Machine Learning, est au cœur de notre expertise, utilisant des réseaux de neurones artificiels profonds pour analyser des ensembles de données complexes. Cette technologie nous permet de développer des solutions en reconnaissance d'images, synthèse vocale, traduction automatique ou encore génération de texte. </p>
            <p><strong>Expérience :</strong> systèmes de reconnaissance faciale, analyse et génération automatique d'images, modèles de traitement automatique de la parole pour les assistants vocaux.</p>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-12 mb-4">
            <div class="text-left" style="margin-bottom:2.5rem;">
              <img src="{% static 'Assets/Motifs/illustration_AI_NLP.webp' %}" style="width:60%">
            </div>

            <h3>Traitement du Langage Naturel (NLP)</h3>
            <p class="mt-4" style="width:20rem;">Nous développons des systèmes qui comprennent le langage humain, transformant la manière dont les entreprises et les institutions interagissent et comprennent leur environnement et les acteurs qui y évoluent.</p>
            <p><strong>Expérience : </strong> développement de chatbots pour le service client, systèmes de traduction automatique, outils d'analyse de sentiments.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <section class="container text-black m-auto borderTop py-4" style="margin-top:4rem;">
      <div class='mb-5 m-auto text-center fade-up' style="max-width:600px;">
        <h1>Notre méthode</h1>
        <h4>Chaque projet est unique. Nous vous accompagnons pour trouver des solutions adaptées à vos besoins en accord avec vos objectifs.</h4>
      </div>
      <div class="container m-auto ps-3 fade-up">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-auto col-md-12" style="padding-right:0 !important; padding-left:0 !important;">

                <!-- Step -->
                <div class="row gx-0 align-items-center mb-md-5">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>1</span>
                    </a>

                  </div>
                  <div class="col">

                    <hr class="d-none d-md-block me-n7">

                  </div>
                </div> <!-- / .row -->

              </div>
              <div class="col col-md-12 ms-n5 ms-md-0" style="padding-left:0 !important; padding-right:30px !important;">

                <!-- Heading -->
                <h3 class="padding-sm-left mb-4">
                  Comprendre votre besoin et cadrer votre projet
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0 p-0">
                  Chaque projet démarre par un entretien qui vise à définir et à cadrer précisément vos besoins. Cette première phase est cruciale pour comprendre les défis spécifiques de votre structure et déterminer des objectifs concrets alignés sur vos données et vos attentes.
                </p>
                <br>
                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0 p-0">
                  Nous plongeons dans vos processus pour identifier les opportunités d'automatisation et d'amélioration grâce au Machine Learning et au Deep Learning. C'est le moment où nous établissons les fondations d'un modèle d'IA personnalisé, conçu pour s'intégrer harmonieusement avec vos flux de travail existants et pour apporter une valeur ajoutée mesurable.
                </p>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-auto col-md-12" style="padding-left:0 !important; padding-right:0 !important;">

                <!-- Step -->
                <div class="row gx-0 align-items-center mb-md-5" style="padding-right:0 !important;">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>2</span>
                    </a>

                  </div>
                  <div class="col">

                    <hr class="d-none d-md-block me-n7">

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="col col-md-12 ms-n5 ms-md-0 p-0" style="padding-left:0 !important; padding-right:30px !important;">

                <!-- Heading -->
                <h3 class="padding-sm-left mb-4">
                  Design et développement d'une solution sur mesure
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  La conception et le développement sont les étapes où vos données prennent vie. Notre équipe construit des modèles prédictifs précis et des systèmes autonomes intelligents à partir de données pertinentes pour votre activité.
                </p>
                <br>
                 <p class="text-muted mb-6 mb-md-0">
                  En adoptant une approche agile, nous itérons rapidement pour affiner les algorithmes, optimiser les performances et garantir une intégration transparente dans vos opérations. Chaque sprint de développement est une étape vers une solution d'IA robuste.
                </p>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-auto col-md-12" style="padding-left:0 !important;">

                <!-- Step -->
                <div class="row gx-0 align-items-center mb-md-5">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>3</span>
                    </a>

                  </div>
                </div> <!-- / .row -->

              </div>
              <div class="col col-md-12 ms-n5 ms-md-0 p-0" style="padding-left:0 !important; padding-right:30px !important;">

                <!-- Heading -->
                <h3 class="mb-4">
                  Accompagnement et évolutions du projet
                </h3>

                <!-- Text -->
                <p class="text-muted mb-0">
                  Le déploiement de votre solution n'est que le début de notre partenariat. Nous nous engageons à vous accompagner au-delà de la mise en production avec un support continu et des conseils stratégiques. En évaluant les performances et en recueillant des retours, nous affinons le système pour qu'il s'adapte aux nouvelles données et aux conditions changeantes du marché. Notre vision à long terme pour votre solution d'IA inclut des mises à jour régulières, l'ajout de fonctionnalités et une optimisation continue pour garantir que votre entreprise reste en tête avec les technologies d'intelligence artificielle les plus avancées.
                </p>
              </div>
            </div> <!-- / .row -->
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- Section sur Automatisation -->
    <section class="container text-black m-auto borderTop py-4 fade-up" style="margin-top:4rem;">
      <div>
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-sm-12 col-lg-6"><h3>Solutions éthiques et responsables</h3></div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <p>Chez Tech Forge, nous croyons que l'IA doit être utilisée pour le bien. C'est pourquoi nous nous engageons à développer des solutions d'IA éthiques, transparentes et responsables. Nous nous assurons que nos technologies respectent les normes les plus strictes en matière de confidentialité et de sécurité des données.</p>
            <a class="link-black" href="{% url 'Main:charte' %}">Consulter notre charte</a>

          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur Automatisation -->
    <section class="container text-black m-auto borderTop py-4 fade-up" style="margin-top:4rem;">
      <div>
        <div class="m-auto text-center">
          <h3>Posez nous vos questions</h3>
          <p class='text-center m-auto mb-4' style="max-width:400px;"> Vous avez une question sur un ou plusieurs de nos services, contactez-nous et nous répondrons à votre question au plus vite. </p>
          <a class="btn btn-outline-black" data-bs-toggle="modal" data-bs-target="#exampleModal">Nous parler de vos besoins</a><br>
          <img class="mt-4 fade-up text-center d-none d-sm-block m-auto" src="{% static 'Assets/Images/cinematic-image-of-people-working-in-a-start-up-bu-2023-11-27-05-11-01-utc.webp' %}" width="50%">
        </div>

      </div>
    </section>
    <!-- Section Hero -->
  </Main>

  <footer class="footer text-black" style="margin-top:4rem; background-color:#F5F6F1;">
  <div class="container text-black borderTop" style="margin-bottom:150px;">
    <div class="row m-auto text-black" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-black">
        <a href="{% url 'Main:index' %}">
         <img src="{% static 'Logos/Principal/Principal_noir.svg' %}" alt="Logo" height="40">
        </a>
      </div>
      <div class="col-md-3 mb-3 mb-md-0 text-black">
        <h5>Notre expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-black">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-black">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-black">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-black">L'équipe</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-black">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-black">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-black">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@tech-forge.fr" class="text-black">contact@tech-forge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-black">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-12 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-black unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-black unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <div class='row' style="width: 100%; height: auto; margin-right: 0; margin-left: 0;">
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_noir.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100.4%; height:auto;">
      </div>
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_noir.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100%; height:auto;">
      </div>
    </div>
</footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#F5F6F1; border-color:black">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">Parlez-nous de vos besoins !</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-black">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-4">
                <label for="exampleFormControlInput1" class="form-label text-black">Votre adresse email</label>
                <input type="email" class="form-control" name='email' id="exampleFormControlInput1" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="firstName" class="form-label">Votre prénom</label>
                <input type="text" class="form-control" name='first_name' id="firstName" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="lastName" class="form-label">Votre nom</label>
                <input type="text" class="form-control" name='last_name' id="lastName" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
              <label for="phoneInput" class="form-label">Votre numéro de téléphone</label>
              <input type="tel" class="form-control" name="phone" id="phoneInput" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
              <div class="invalid-feedback">
                Veuillez entrer un numéro de téléphone valide (ex. 01 23 45 67 89).
              </div>
            </div>

            <div class="mb-3 mt-4">
                <label for="company" class="form-label">Votre Entreprise</label>
                <input type="text" class="form-control" name='company' id="company" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="sectorSelect" class="form-label">Votre secteur d'activité</label>
                <select class="form-control" name='field' id="sectorSelect" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
                    <option value="">>> Sélectionnez votre secteur <<</option>
                    <!-- Liste exhaustive des secteurs -->
                    <option value="technologie">Technologie et Informatique</option>
                    <option value="finance">Finance et Banque</option>
                    <option value="finance">Santé et Pharmaceutique</option>
                    <option value="finance">Éducation et Formation</option>
                    <option value="finance">Industrie et Manufacture</option>
                    <option value="finance">Commerce et Distribution</option>
                    <option value="finance">Agriculture et Agroalimentaire</option>
                    <option value="finance">Énergie et Ressources</option>
                    <option value="finance">Construction et BTP</option>
                    <option value="finance">Transport et Logistique</option>
                    <option value="finance">Tourisme et Hôtellerie</option>
                    <option value="finance">Arts et Culture</option>
                    <option value="finance">Médias et Communication</option>
                    <option value="finance">Services Publics et Administration</option>
                    <option value="finance">Loisirs et Divertissement</option>
                    <option value="finance">Environnement et Développement Durable</option>
                    <option value="finance">Conseil et Gestion</option>
                    <option value="finance">Recherche et Développement</option>
                    <option value="finance">Autres</option>
                    <!-- Ajoutez d'autres options ici -->
                </select>
            </div>

            <div class="mb-3 mt-4">
                <label for="contentTextArea" class="form-label">Vos besoins</label>
                <textarea class="form-control" name='content' id="contentTextArea" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required></textarea>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name='callback_request' id="callbackRequest" style="outline: none;box-shadow: none;">
                <label class="form-check-label" for="callbackRequest">Être rappelé ?</label>
            </div>

            <!-- Widget reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="6LdZ8jwpAAAAAL64AnNOkS2eE7gMn4tFWUeF8VeL"></div>


            <button class="btn btn-outline-black w-100 mt-2">Envoyer</button>
        </form>

        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

  <div id="cookieConsentContainer" style="display:none; position:fixed; bottom:0; width:40%; right:0; background-color:#F5F6F1 !important; color:black !important;  border-color:black; border-style:solid; border-width:1px; padding: 15px; text-align: center;">
    <p style="color:black !important">
        Ce site utilise des cookies pour améliorer l'expérience utilisateur.
        <a class="nav-link" href="{% url 'Main:Mentions' %}">En savoir plus</a>
    </p>
    <button class="btn btn-outline-black" id="acceptCookies">Accepter</button>
  </div>

    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });

    const paths = document.querySelectorAll('svg path');

    paths.forEach(path => {
        path.addEventListener('animationend', () => {
            path.classList.remove('draw-animation');
            path.classList.add('undraw-animation');
        });
    });

      function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    </script>
  <script>
   document.getElementById('phoneInput').addEventListener('input', function(e) {
    var input = e.target.value.replace(/\D/g, '');  // Supprime tous les caractères non numériques
    var formattedInput = '';

    // Boucle pour ajouter des tirets tous les deux chiffres
    for (var i = 0; i < input.length; i++) {
      if (i !== 0 && i % 2 === 0) {
        formattedInput += '-';
      }
      formattedInput += input[i];
    }

    // Met à jour la valeur du champ de saisie avec le format correct
    e.target.value = formattedInput;
  });

  window.onload = function() {
    if (!getCookie("cookiesAccepted")) {
        document.getElementById("cookieConsentContainer").style.display = "block";
    }

    document.getElementById("acceptCookies").onclick = function() {
        setCookie("cookiesAccepted", "true", 365);
        document.getElementById("cookieConsentContainer").style.display = "none";
    };
    };

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
</script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
