{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="The Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="The Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="URL de l'image à afficher sur les réseaux sociaux">

    <!-- Balises Twitter Card pour Twitter (remplacez les valeurs par les vôtres) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@votrecompte">
    <meta name="twitter:title" content="Nom de votre entreprise">
    <meta name="twitter:description" content="Entreprise de développement informatique de pointe spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques du futur.">
    <meta name="twitter:image" content="URL de l'image à afficher sur Twitter">

    <!-- Favicon -->
     <link rel="icon" href="{% static 'Logos/Icones/Icones_vert_gris.png' %}" type="image/x-icon">

    <title>The Forge - Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">

  </head>
  <body style="background-color:#F5F6F1 !important; color: #015453 !important; font-family: 'articulat-cf' !important;">

  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#F5F6F1 !important; color:#015453 !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo The Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notre expertise
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">L'équipe</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-vert contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      <div class="mt-5 container HeroContainer text-vert m-auto fade-up" style="margin-top:10rem !important;">
        <div class="row justify-content-between align-items-center">
          <div class="display-1">Nous contacter</div>
          <hr>
          <div class="col-lg-6 col-sm-12 col-md-6">
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3 mt-4">
                <label for="exampleFormControlInput1" class="form-label">Votre adresse email</label>
                <input type="email" class="form-control" name='email' id="exampleFormControlInput1" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;">
              </div>
              <div class="row mb-3 mt-4">
                <div class="col">
                  <label for="first_name" class="form-label">Votre prénom</label>
                  <input type="text" id="first_name" name="last_name" class="form-control" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;">
                </div>
                <div class="col">
                  <label for="last_name" class="form-label">Votre nom</label>
                  <input type="text" id="last_name" name="last_name" class="form-control" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;">
                </div>
              </div>
              <div class="mb-3 mt-4">
              <label for="phoneInput" class="form-label">Votre numéro de téléphone</label>
              <input type="tel" class="form-control" name="phone" id="phoneInput" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;" required>
              <div class="invalid-feedback">
                Veuillez entrer un numéro de téléphone valide (ex. 01 23 45 67 89).
              </div>
            </div>

              <div class="col-12 mt-4">
                <label for="exampleFormControlInput1" class="form-label">Votre message</label>
                <textarea class="text-vert w-100 h-50" name="content" style="background-color:transparent !important; border-color:#015453; border-width:1px;"></textarea>
                <button class="btn btn-outline-vert mt-3">Envoyer</button>
              </div>
            </form>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'Assets/Images/contact.webp' %}" style="width:100%; height:auto;">
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->
  </Main>

  <footer class="footer text-vert" style="margin-top:15rem; background-color:#F5F6F1;">
  <div class="container text-vert borderTop fade-up" style="margin-bottom:150px;">
    <div class="row m-auto text-vert" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-vert">
        <a href="{% url 'Main:index' %}">
          <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo" height="60">
        </a>
      </div>
      <div class="col-md-3 mb-3 mb-md-0 text-vert">
        <h5>Notre expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-vert">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-vert">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-vert">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-vert">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-vert">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-vert">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-vert">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@theforge.fr" class="text-vert">contact@theforge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-vert">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-12 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <div class='row' style="width: 100%; height: auto; margin-right: 0; margin-left: 0;">
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_vert.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100.4%; height:auto;">
      </div>
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_vert.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100%; height:auto;">
      </div>
    </div>
</footer>

    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });

    </script>
    <script>
     document.getElementById('phoneInput').addEventListener('input', function(e) {
      var input = e.target.value.replace(/\D/g, '');  // Supprime tous les caractères non numériques
      var formattedInput = '';

      // Boucle pour ajouter des tirets tous les deux chiffres
      for (var i = 0; i < input.length; i++) {
        if (i !== 0 && i % 2 === 0) {
          formattedInput += '-';
        }
        formattedInput += input[i];
      }

      // Met à jour la valeur du champ de saisie avec le format correct
      e.target.value = formattedInput;
    });
  </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
