{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="The Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="The Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="URL de l'image à afficher sur les réseaux sociaux">

    <!-- Balises Twitter Card pour Twitter (remplacez les valeurs par les vôtres) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@votrecompte">
    <meta name="twitter:title" content="Nom de votre entreprise">
    <meta name="twitter:description" content="Entreprise de développement informatique de pointe spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques du futur.">
    <meta name="twitter:image" content="URL de l'image à afficher sur Twitter">

    <!-- Favicon -->
     <link rel="icon" href="{% static 'Logos/Icones/Icones_gris_bleu.png' %}" type="image/x-icon">

    <title>The Forge - IoT </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/AI.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">

  </head>
  <body style="background-color:#F5F6F1 !important; color: #015453 !important; font-family: 'articulat-cf' !important;">

  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#F5F6F1 !important; color:black !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_noir.svg' %}" alt="Logo The Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown" style="color:black !important">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notre expertise
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#F5F6F1; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">L'équipe</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-black contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:#F5F6F1; border-style:solid; border-width:1px; border-color:#OOOOO; color:black; padding:10px">
        <a type="button" onclick="closeMessage()" style="--bs-btn-close-color:white; position:absolute; left:5px; top:5px; color:#00000; width:5px;">X</a>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#00000"><path d="M8 12h48v40H8z"/><path d="M56 20L32 36 8 20"/></svg>
             <h3>Merci !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

      <div class="mt-5 container HeroContainer text-black m-auto fade-up">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-7 col-lg-7 col-sm-12 ">
            <div class="display-1">Déployez en toute sécurité</div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <!--<p class="mt-4" style="font-size:25px">Notre équipe d'experts en IA est dédiée à transformer les défis technologiques complexes de nos clients en solutions intelligentes et efficaces. </p>-->
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur mesure -->
    <section>
      <div class="container text-black m-auto borderTop py-4">
        <div class="text-center m-auto fade-up">
             <h1 class='m-auto'>"Safety is first"</h1>
             <p class='m-auto mt-3' style="max-width:600px;">De l'architecture initiale à la production finale, la sécurité est au cœur de notre processus de conception. Nous élaborons des dispositifs qui s'intègrent sans risque à votre environnement numérique, soutenant votre infrastructure sans compromettre la sécurité. </p>
          <div class="row justify-content-between mt-5">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><path d="M20 28v-8a12 12 0 0 1 24 0v8H16a4 4 0 0 0-4 4v20a4 4 0 0 0 4 4h32a4 4 0 0 0 4-4V40"/><path d="M56 28L32 48l-8-8"/></svg><path d="M30.28 44L29 28.27a1.85 1.85 0 0 0-3.32-1h0a1.85 1.85 0 0 0 1.48 3h9.74a1.85 1.85 0 0 0 1.48-3h0a1.85 1.85 0 0 0-3.32 1L33.72 44"/><path d="M37.41 44c0-5.41 4.35-10.27 6.6-13.66a14.34 14.34 0 0 0 2.38-8.81C46 14.35 41 8 32 8s-14.41 6.08-14.41 14.38a14.33 14.33 0 0 0 2.48 8.09c2.3 3.38 6.52 8.12 6.52 13.53M28 52a4 4 0 0 0 8 0"/><rect x="24" y="44" width="16" height="8" rx="3"/></svg>
              <h3> Sécurité à la conception</h3>
              <p>Nous intégrons des protocoles de sécurité dès la phase de conception, veillant à ce que chaque dispositif respecte les normes de sécurité les plus strictes pour protéger votre infrastructure.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="20" cy="32" r="12"/><path d="M56 44V32H32"/></svg><circle cx="32" cy="32" r="24"/><circle cx="32" cy="32" r="8"/><path d="M48.97 48.97L37.66 37.66M26.34 26.34L15.03 15.03M37.66 26.34l11.31-11.31M26.34 37.66L15.03 48.97"/></svg>
              <h3>Authentification Robuste</h3>
              <p>Nos dispositifs sont équipés de systèmes d'authentification avancés, assurant que seuls les utilisateurs autorisés y ont accès et que les données restent sécurisées. </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="8"/><path d="M56 32s-8 16-24 16S8 32 8 32s8-16 24-16 24 16 24 16z"/></svg>              <h3>Maintenance de la Sécurité</h3>
              <p>Nous offrons une surveillance constante et des mises à jour de sécurité pour nos dispositifs, assurant leur résilience face aux menaces évolutives et leur fonctionnement optimal au fil du temps.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- ABOUT -->
    <section>
      <div class="container text-black m-auto borderTop py-4">
        <div class="row justify-content-between align-items-start">
          <div class="col-12 col-md-4 col-lg-4 mt-3 fade-up">
            <h1>
              Élevez Votre Standard de Sécurité
            </h1>

            <!-- Text -->
            <p class="fs-lg text-gray-700 mb-5">
              Notre expertise en sécurité garantit que chaque dispositif que nous déployons renforce et protège l'infrastructure de nos clients.
            </p>
          </div>
          <div class="col-12 col-md-7 col-lg-7 order-md-1 pt-md-12 text-black">
            <!-- List -->
            <div class="row mt-3">
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex fade-up">

                  <!-- Check -->
                  <div class="me-3" style="margin-top:-5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="24"/><path d="M44 24L28 40l-8-8"/></svg>
                  </div>

                  <!-- Text -->
                  <p class="text-black">
                    <strong>Intégration Sécuritaire :</strong> Nos dispositifs s'intègrent en toute sécurité dans votre environnement technologique, sans compromettre la performance ou la protection.
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex fade-up">

                  <!-- Check -->
                  <div class="me-3" style="margin-top:-5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="24"/><path d="M44 24L28 40l-8-8"/></svg>
                  </div>

                  <p class="text-black mb-lg-0">
                    <strong>Protocoles de Sécurité :</strong> Chaque produit est bâti sur des protocoles de sécurité rigoureux, minimisant les risques de failles et d'attaques.
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex mt-3 fade-up">

                  <!-- Check -->
                  <div class="me-3" style="margin-top:-5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="24"/><path d="M44 24L28 40l-8-8"/></svg>
                  </div>

                  <p class="text-black mb-lg-0">
                    <strong>Tests de Vulnérabilité :</strong> Nous effectuons des tests réguliers pour identifier et corriger les vulnérabilités, renforçant ainsi la robustesse des dispositifs.
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex fade-up">

                  <!-- Check -->
                   <div class="me-3" style="margin-top:-5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="24"/><path d="M44 24L28 40l-8-8"/></svg>
                  </div>

                  <!-- Text -->
                  <p class="text-black">
                    <strong>Mises à Jour Continues :</strong> Les dispositifs reçoivent des mises à jour de sécurité régulières pour se prémunir contre les menaces les plus récentes.
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex fade-up">

                  <!-- Check -->
                  <div class="me-3" style="margin-top:-5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="24"/><path d="M44 24L28 40l-8-8"/></svg>
                  </div>

                  <!-- Text -->
                  <p class="text-black mb-0">
                    <strong>Support et Formation :</strong> Nous offrons un support continu et des formations pour que les utilisateurs soient au fait des meilleures pratiques de sécurité.
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex mt-3 fade-up">

                  <!-- Check -->
                  <div class="me-3" style="margin-top:-5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="24"/><path d="M44 24L28 40l-8-8"/></svg>
                  </div>

                  <!-- Text -->
                  <p class="text-black mb-0">
                    <strong>Réponse aux Incidents :</strong> En cas de sécurité compromise, nous réagissons rapidement pour contenir les menaces et restaurer la sécurité.
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- Section sur Automatisation -->
    <section class="container text-black m-auto borderTop py-4 fade-up" style="margin-top:4rem;">
      <div>
        <div class="m-auto text-center">
          <h3>Posez nous vos questions</h3>
          <p class='text-center m-auto mb-4' style="max-width:400px;"> Vous avez une question sur un ou plusieurs de nos services, contactez-nous et nous répondrons à votre question au plus vite. </p>
          <a class="btn btn-outline-black" data-bs-toggle="modal" data-bs-target="#exampleModal">Nous parler de vos besoins</a><br>
          <img class="mt-4 fade-up text-center" src="{% static 'Assets/Images/cinematic-image-of-people-working-in-a-start-up-bu-2023-11-27-04-57-08-utc.webp' %}" alt="Image : L'équipe de The Forge parle d'un projet à un client." width="50%">
        </div>

      </div>
    </section>
    <!-- Section Hero -->
  </Main>

  <footer class="footer text-black" style="margin-top:4rem; background-color:#F5F6F1;">
  <div class="container text-black borderTop" style="margin-bottom:150px;">
    <div class="row m-auto text-black" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-black">
        <a href="{% url 'Main:index' %}">
         <img src="{% static 'Logos/Principal/Principal_noir.svg' %}" alt="Logo" height="60">
        </a>
      </div>
      <div class="col-md-3 mb-3 mb-md-0 text-black">
        <h5>Notre expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-black">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-black">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-black">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-black">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-black">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-black">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-black">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@theforge.fr" class="text-black">contact@theforge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-black">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-12 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-black unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-black unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
  <div class='row' style="width: 100%; height: auto; margin-right: 0; margin-left: 0;">
        <div class="col-6 px-0">
            <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_noir.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100.4%; height:auto;">
        </div>
        <div class="col-6 px-0">
            <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_noir.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100%; height:auto;">
        </div>
      </div>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#F5F6F1; border-color:black">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">Parlez-nous de vos besoins !</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-black">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-4">
                <label for="exampleFormControlInput1" class="form-label text-black">Votre adresse email</label>
                <input type="email" class="form-control" name='email' id="exampleFormControlInput1" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="firstName" class="form-label">Votre prénom</label>
                <input type="text" class="form-control" name='first_name' id="firstName" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="lastName" class="form-label">Votre nom</label>
                <input type="text" class="form-control" name='last_name' id="lastName" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
              <label for="phoneInput" class="form-label">Votre numéro de téléphone</label>
              <input type="tel" class="form-control" name="phone" id="phoneInput" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
              <div class="invalid-feedback">
                Veuillez entrer un numéro de téléphone valide (ex. 01 23 45 67 89).
              </div>
            </div>

            <div class="mb-3 mt-4">
                <label for="company" class="form-label">Votre Entreprise</label>
                <input type="text" class="form-control" name='company' id="company" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="sectorSelect" class="form-label">Votre secteur d'activité</label>
                <select class="form-control" name='field' id="sectorSelect" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
                    <option value="">>> Sélectionnez votre secteur <<</option>
                    <!-- Liste exhaustive des secteurs -->
                    <option value="technologie">Technologie et Informatique</option>
                    <option value="finance">Finance et Banque</option>
                    <option value="finance">Santé et Pharmaceutique</option>
                    <option value="finance">Éducation et Formation</option>
                    <option value="finance">Industrie et Manufacture</option>
                    <option value="finance">Commerce et Distribution</option>
                    <option value="finance">Agriculture et Agroalimentaire</option>
                    <option value="finance">Énergie et Ressources</option>
                    <option value="finance">Construction et BTP</option>
                    <option value="finance">Transport et Logistique</option>
                    <option value="finance">Tourisme et Hôtellerie</option>
                    <option value="finance">Arts et Culture</option>
                    <option value="finance">Médias et Communication</option>
                    <option value="finance">Services Publics et Administration</option>
                    <option value="finance">Loisirs et Divertissement</option>
                    <option value="finance">Environnement et Développement Durable</option>
                    <option value="finance">Conseil et Gestion</option>
                    <option value="finance">Recherche et Développement</option>
                    <option value="finance">Autres</option>
                    <!-- Ajoutez d'autres options ici -->
                </select>
            </div>

            <div class="mb-3 mt-4">
                <label for="contentTextArea" class="form-label">Vos besoins</label>
                <textarea class="form-control" name='content' id="contentTextArea" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required></textarea>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name='callback_request' id="callbackRequest" style="outline: none;box-shadow: none;">
                <label class="form-check-label" for="callbackRequest">Être rappelé ?</label>
            </div>

            <button class="btn btn-outline-black w-100 mt-2">Envoyer</button>
        </form>

        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });

    const paths = document.querySelectorAll('svg path');

    paths.forEach(path => {
        path.addEventListener('animationend', () => {
            path.classList.remove('draw-animation');
            path.classList.add('undraw-animation');
        });
    });

      function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    </script>
  <script>
   document.getElementById('phoneInput').addEventListener('input', function(e) {
    var input = e.target.value.replace(/\D/g, '');  // Supprime tous les caractères non numériques
    var formattedInput = '';

    // Boucle pour ajouter des tirets tous les deux chiffres
    for (var i = 0; i < input.length; i++) {
      if (i !== 0 && i % 2 === 0) {
        formattedInput += '-';
      }
      formattedInput += input[i];
    }

    // Met à jour la valeur du champ de saisie avec le format correct
    e.target.value = formattedInput;
  });
</script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
