<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="Tech Forge">

    <!-- Balises Open Graph pour les réseaux sociaux -->
    <meta property="og:title" content="Tech Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="https://studio-script.sgp1.cdn.digitaloceanspaces.com/studio-script-static/img/images_OG.jpg">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Logos/Icones/Icones-blanc-noir.png' %}" type="image/x-icon">

    <title>Tech Forge - FAQ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/faq.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WND3G6HJ');</script>
    <!-- End Google Tag Manager -->

  </head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-74E6QKK31W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-74E6QKK31W');
</script>


  <body style="font-family: 'articulat-cf' !important;">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WND3G6HJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header>
    {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:white; border-style:solid; border-width:1px; border-color:black; color:black; padding:10px; z-index:999 !important;">
        <a type="button" onclick="closeMessage()" style="--bs-btn-close-color:black; position:absolute; left:5px; top:5px; color:black; width:5px;">X</a>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="black"><path d="M8 12h48v40H8z"/><path d="M56 20L32 36 8 20"/></svg>
             <h3>Merci !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top bg-white navbar-light" id="mainNavbar">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_noir.svg' %}" alt="Logo Tech Forge" width="150" style="color:'white'">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto text-black" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notre expertise
            </a>
           <ul class="dropdown-menu" style="background-color:white; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>

           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:white; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">L'équipe</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-black contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>
  <!-- Section services -->
  <Main>
    <!-- Section citation -->
    <section>
      <div class="container py-4 m-auto fade-up" style="margin-top:10rem !important;">
        <div class="row">
          <div class='col-lg-6 col-md-6 col-sm-12 display-1 mb-4'>
            FAQ
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 accordion" id="faqAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Quels types de services propose Tech Forge ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Tech Forge est spécialisée dans le développement de solutions personnalisées en intelligence artificielle, cybersécurité, et IoT. Nous offrons une gamme de services allant de la consultation et l'analyse de données à la conception et au déploiement de systèmes intelligents.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Comment Tech Forge assure-t-elle la sécurité des données ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  La sécurité des données est une priorité absolue chez Tech Forge. Nous utilisons des protocoles de cryptage avancés, des systèmes de gestion des accès rigoureux et des audits réguliers pour garantir la sécurité et la confidentialité des données de nos clients.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  L'intelligence artificielle développée par Tech Forge est-elle éthique et sans parti pris ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Oui. Nous nous engageons à développer une IA éthique et impartiale. Pour cela, nous utilisons des méthodes de développement transparentes, des tests rigoureux pour détecter et éliminer les biais, et des principes d'éthique forts qui guident toutes nos créations.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Quelle est l'approche de Tech Forge en matière de développement durable et de RSE ?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Tech Forge s'engage dans le développement durable et la responsabilité sociétale des entreprises. Nous adoptons des pratiques écoresponsables dans nos opérations et cherchons à avoir un impact positif sur la société à travers nos technologies et initiatives.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  Comment puis-je collaborer avec Tech Forge sur un projet ?
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Pour entamer une collaboration, veuillez nous contacter via notre formulaire en ligne ou par téléphone. Nous discuterons de vos besoins, explorerons les solutions possibles et établirons un plan de projet adapté à vos objectifs.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  Tech Forge propose-t-elle des formations ou des ateliers sur l'IA et la cybersécurité ?
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Oui, nous offrons des formations et ateliers pour les entreprises et les particuliers intéressés par l'IA et la cybersécurité. Ces sessions sont adaptées au niveau de compétence des participants et couvrent divers sujets, des bases de l'IA à des concepts plus avancés.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                  Comment Tech Forge garantit la qualité de ses services ?
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Nous maintenons une qualité élevée en suivant des processus de développement rigoureux, en employant une équipe hautement qualifiée, et en utilisant des méthodes de test et de validation approfondies pour chaque projet.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                  Est-il possible d'obtenir un support technique après la livraison d'un projet ?
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Absolument. Tech Forge offre un support technique et une maintenance après la livraison du projet pour garantir le bon fonctionnement et la pérennité des solutions que nous développons.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section citation -->
    <section>
      <div class="container mt-5 fade-up text-center marginTop">
        <img class="mt-4 fade-up text-center d-none d-sm-block" src="{% static 'Assets/Images/cinematic-image-of-people-working-in-a-start-up-bu-2023-11-27-05-11-01-utc.webp' %}" width="50%">
        <button class="btn btn-outline-black w-100 mt-3" style="font-size:35px" data-bs-toggle="modal" data-bs-target="#exampleModal">Nous poser une question</button>
      </div>
    </section>

  </Main>


  <footer class="footer bg-white text-black" style="margin-top:15rem;">
  <div class="container" style="margin-bottom:150px;">
    <div class="row m-auto" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0">
        <a href="{% url 'Main:index' %}">
          <img src="{% static 'Logos/Principal/Principal_noir.svg' %}" alt="Logo" height="40">
        </a>
      </div>
      <div class="col-md-3 mb-3 mb-md-0 text-maron">
        <h5>Notre expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-black">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-black">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-black">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-black">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-black">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-black">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-black">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@tech-forge.fr" class="text-black">contact@tech-forge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-black">LinkedIn</a></li>
        </ul>
      </div>
    </div>
      <div class="col-12 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-black" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-black" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
  <div class='row' style="width: 100%; height: auto; margin-right: 0; margin-left: 0;">
    <div class="col-6 px-0">
        <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_noir.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100.4%; height:auto;">
    </div>
    <div class="col-6 px-0">
        <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_noir.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100%; height:auto;">
    </div>
  </div>
</footer>


   <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:white; border-color:black">
        <div class="modal-header" style="border-color:black">
          <h1 class="modal-title fs-5 text-bleu" id="exampleModalLabel">Nous poser une question</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style=""></button>
        </div>
        <div class="modal-body text-black">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-4">
                <label for="exampleFormControlInput1" class="form-label text-bleu">Votre adresse email</label>
                <input type="email" class="form-control" name='email' id="exampleFormControlInput1" placeholder="nom@exemple.com" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="firstName" class="form-label">Votre prénom</label>
                <input type="text" class="form-control" name='first_name' id="firstName" placeholder="Doe" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="lastName" class="form-label">Votre nom</label>
                <input type="text" class="form-control" name='last_name' id="lastName" placeholder="Doe" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="companyName" class="form-label">Votre Entreprise</label>
                <input type="text" class="form-control" name='company' id="companyName" placeholder="Company.ltd" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
              <label for="phoneInput" class="form-label">Votre numéro de téléphone</label>
              <input type="tel" class="form-control" name="phone" id="phoneInput" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
              <div class="invalid-feedback">
                Veuillez entrer un numéro de téléphone valide (ex. 01 23 45 67 89).
              </div>
            </div>

            <div class="mb-3 mt-4">
                <label for="contentTextArea" class="form-label">Votre question</label>
                <textarea class="form-control" name='content' id="contentTextArea" placeholder="Décrivez vos besoins" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required></textarea>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name='callback_request' id="callbackRequest" style="outline: none;box-shadow: none;">
                <label class="form-check-label" for="callbackRequest">Être rappelé ?</label>
            </div>

             <!-- Widget reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="6LdZ8jwpAAAAAL64AnNOkS2eE7gMn4tFWUeF8VeL"></div>

            <button class="btn btn-outline-black w-100 mt-2">Envoyer</button>
        </form>

        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

  <div id="cookieConsentContainer" style="display:none; position:fixed; bottom:0; width:40%; right:0; background-color:white !important; color: black !important;  border-color:black; border-style:solid; border-width:1px; padding: 15px; text-align: center;">
    <p style="color:black !important">
        Ce site utilise des cookies pour améliorer l'expérience utilisateur.
        <a class="nav-link" href="{% url 'Main:Mentions' %}">En savoir plus</a>
    </p>
    <button class="btn btn-outline-black" id="acceptCookies">Accepter</button>
  </div>

  <script>
  function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    window.onload = function() {
    if (!getCookie("cookiesAccepted")) {
        document.getElementById("cookieConsentContainer").style.display = "block";
    }

    document.getElementById("acceptCookies").onclick = function() {
        setCookie("cookiesAccepted", "true", 365);
        document.getElementById("cookieConsentContainer").style.display = "none";
    };
    };

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
   </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
