<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="The Forge">

    <!-- Balises Open Graph pour les réseaux sociaux -->
    <meta property="og:title" content="The Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="https://studio-script.sgp1.cdn.digitaloceanspaces.com/studio-script-static/img/images_OG.jpg">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Logos/Icones/Icones_beige_vert.png' %}" type="image/x-icon">

    <title>Bienvenue chez The Forge </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel=stylesheet href="https://use.typekit.net/eqx7rzk.css">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="1572de0f-3589-410e-9c5b-8dca378e12df" data-blockingmode="auto" type="text/javascript"></script>

  </head>
  <body style="background-color:black !important; font-family: 'articulat-cf' !important;">

  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-transparent" id="mainNavbar">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img loading='lazy' src="{% static 'Logos/Principal/Principal_Blanc.svg' %}" alt="Logo The Forge" width="150" style="width:150px; height:auto;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notre expertise
            </a>
           <ul class="dropdown-menu" style="background-color:black; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>

           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:black; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">L'équipe</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-light contact-item" href="{% url 'Main:join' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>

  <!-- Section de l'en-tête principale avec vidéo en arrière-plan -->
  <div class="jumbotron jumbotron-fluid position-relative">
    {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:black; border-style:solid; border-width:1px; border-color:white; color:white; padding:10px">
        <a type="button" onclick="closeMessage()" style="--bs-btn-close-color:white; position:absolute; left:5px; top:5px; color:white; width:5px;">X</a>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#FFFF"><path d="M8 12h48v40H8z"/><path d="M56 20L32 36 8 20"/></svg>
             <h3>Merci !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <video autoplay loop muted playsinline style="width: 100%; height: 100vh; position: absolute; z-index: -1; object-fit: cover;" preload="none" id="videoLowRes">
      <source src="{% static 'Assets/Video/Séquence1.mp4' %}" type="video/mp4">
      Votre navigateur ne supporte pas la balise vidéo.
    </video>

    <!-- Vidéo haute résolution qui précharge sans jouer automatiquement
    <video autoplay loop muted playsinline id="videoHighRes" preload="auto" style="width: 100%; height: 100vh; position: absolute; z-index: -1; object-fit: cover;">
      <source src="{% static 'Assets/Video/Séquence1_1.mp4' %}" type="video/mp4">
      Votre navigateur ne supporte pas la balise vidéo.
    </video>-->
    <div class="container text-white MainTitle">
      <h1 class="display-2">Créer ensemble le numérique de demain, une ligne de code à la fois.</h1>
      <a href="{% url 'Main:about'  %}" type="button" class="btn btn-outline-light mt-2">En savoir plus</a>
    </div>
  </div>
</header>

  <!-- Section services -->
  <Main>

    <section>
      <div class="container py-5 mt-5 text-white">
        <div class="row justify-content-around m-auto fade-up">
          <a href="{% url 'Main:ai' %}" class="nav-link ms-3 col-lg-3 col-md-3 col-sm-12 mb-2">
            <svg class="mb-3" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#FFFF"><path d="M41.94 8H22.06L8 22.06v19.88L22.06 56h19.88L56 41.94V22.06L41.94 8zM16.21 13.85l31.61 36.27M25.92 24.99l8.27-13.55M16.21 13.85l17.98-2.41M41.95 23.28l-16.03 1.71M34.19 11.44l7.76 11.84M41.95 23.28l-3.88 15.65M50.22 16.28l-8.27 7M40.01 8l-5.82 3.44M34.19 11.44l16.03 4.84M27.91 8l6.28 3.44M41.95 23.28l10.64 9.65M50.22 16.28l2.37 16.65M52.59 32.93L56 41.94M56 28.37l-3.41 4.56M38.07 38.93l14.52-6M52.59 32.93l-4.77 17.19M21.78 40.55l4.14-15.56M11.94 30.65l13.98-5.66M16.21 13.85l-4.27 16.8M11.94 30.65l9.84 9.9M21.78 40.55l16.29-1.62M30.04 51.12l8.03-12.19M21.78 40.55l8.26 10.57M47.82 50.12l-17.78 1M25.05 56l4.99-4.88M35.81 56l-5.77-4.88M13.7 47.68l8.08-7.13M13.7 47.68l16.34 3.44M11.94 30.65l1.76 17.03M8 35.23l3.94-4.58M8 22.06l3.94 8.59"/></svg>
            <h2>L’intelligence artificielle au service de vos projets</h2>
            <p>Trouver des solutions AI adaptées à vos besoins</p>
          </a>

          <a href="{% url 'Main:iot' %}" class="nav-link ms-3 col-lg-3 col-md-3 col-sm-12 mb-2">
            <svg class="mb-3" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#FFF"><path d="M36 28h8V14L32 8l-4 2M20 40v10l12 6 4-2M32 40l-4-4h8l-4 4M44 40l12-6V20l-8-4"/><path d="M16 48l-8-4V34l12-6h8M32 16l-8-4-16 8v8M32 40v8l8 4 11.97-5.98v-5.9"/></svg>
            <h2>Solutions Avancées pour le Matériel Embarqué et l'IoT</h2>
            <p>Proposer des solutions embarquées intelligentes et sécurisées</p>
          </a>

          <a href="{% url 'Main:cyber' %}" class="nav-link ms-3 col-lg-3 col-md-3 col-sm-12 mb-2">
            <svg class="mb-3" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#FFF"><path d="M20 28v-8a12 12 0 0 1 24 0v8H16a4 4 0 0 0-4 4v20a4 4 0 0 0 4 4h32a4 4 0 0 0 4-4V40"/><path d="M56 28L32 48l-8-8"/></svg>
            <h2>Assurer un environement digital responsable et securisé</h2>
            <p>Déployez nos solutions en toute sécurité</p>
          </a>
        </div>
      </div>
    </section>
    <hr>

    <!-- Section notre équipe -->
    <section>
      <div class="borderTop container text-white" style="padding-top:100px !important; padding-bottom:60px !important">
        <div class="row fade-up justify-content-top">
          <div class="col-sm-12 col-md-6 display-1">
            Notre équipe
            <p style="font-size:20px !important;">Basée en <span style="font-weight:600">France métropolitaine </span> et au <span style="font-weight:600">Canada</span>, notre équipe s'adaptera à vos besoins. </p>
            <a href="{% url 'Main:join' %}" class="btn btn-outline-light"> En savoir plus </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6">
            <img loading="lazy" class="fade-up w-100" src="{% static 'Assets/Images/brainstorm.webp' %}" alt="L'équipe de The Forge en session brainstorm">
          </div>
        </div>
      </div>
    </section>
    <!-- Section notre équipe -->
     <!-- Section citation -->
    <section>
      <div class="container py-4 borderTopBottom text-white m-auto fade-up">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-4 col-lg-4 m-auto">
            <div style="mb-5 mt-5">
              <img src="{% static 'Assets/Images/Adrien.jpg' %}" alt="Photo d'Adrein Schwartzentruber, fondateur de The Forge" class="mx-auto d-block" width="60%">
            </div>
          </div>

          <div class="col-sm-12 col-md-8 col-lg-8 m-auto">
            <h3 class="fst-italic">« The forge est un collectif, une équipe d'experts à votre service pour mener à bien vos projets technologiques. Notre grande expérience en création de produits Cloud embarquant des solutions IA  est un allié de choix pour vos projets.»</h3>
            <h4 class="mt-3">Adrien Schwartzentruber, <br> <span style="font-weight:900"> fondateur de The Forge </span></h4>
          </div>
        </div>
      </div>
    </section>
    <!-- Section citation -->

    <!-- Section Articles -->
    {% if posts %}
    <section>
      <div class="container text-white fade-up" style="padding-top:100px !important; padding-bottom:100px !important">
        <div class="display-1" style="margin-bottom:100px;">Ça pourrait vous interesser</div>
        <div class="row justify-content-around m-auto p-2">
          {% for post in posts %}
          <a href="{% url 'Main:post' post.pk %}" class="nav-link mb-3 col-sm-12 col-md-6 col-lg-4 pointer" style="cursor:pointer !important;">
            <img loading="lazy" src="{{post.image.url}}" alt="image d'illustration" style="width:250px; height:auto;">
            <h3>{{post.title}}</h3>
            <p>{{post.created_at|date:"l d F Y"}}</p>
          </a>
          {% endfor %}
        </div>
        {% if user.is_staff %}
        <a class='text-white' href="{% url 'Main:create_post' %}">+ Publier un nouvel article</a>
        {% endif %}
      </div>
    </section>
    {% endif %}
    <!-- Section Articles -->
  </Main>

  <footer class="footer bg-black text-white" style="margin-top:4rem;">
  <div class="container" style="margin-bottom:150px;">
    <div class="row m-auto" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0">
        <a href="{% url 'Main:index' %}">
          <img loading="lazy" src="{% static 'Logos/Principal/Principal_Blanc.svg' %}" alt="Logo" style="height:60px; width:auto">
        </a>
      </div>
      <div class="col-md-3 mb-3 mb-md-0 text-maron">
        <h5>Notre expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-white">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-white">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-white">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-white">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-white">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-white">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-white">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@theforge.fr" class="text-white">contact@theforge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-white">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="border-top row pt-3 justify-content-around m-auto">
      <div class="col-12 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-white" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-white" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <div class='row' style="width: 100%; height: auto; margin-right: 0; margin-left: 0;">
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_blanc.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100.4%; height:auto;">
      </div>
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_blanc.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100%; height:auto;">
      </div>
    </div>

</footer>


  <div id="cookieConsentContainer" style="display:none; position:fixed; bottom:0; width:40%; right:0; background-color: black; border-color:white; border-style:solid; border-width:1px; padding: 15px; text-align: center;">
    <p class="text-white">
        Ce site utilise des cookies pour améliorer l'expérience utilisateur.
        <a class="nav-link" href="{% url 'Main:Mentions' %}">En savoir plus</a>
    </p>
    <button class="btn btn-outline-light" id="acceptCookies">Accepter</button>
  </div>



  <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar');

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open');
      });
    });

    window.onscroll = function() {
      const nav = document.querySelector('.navbar');
      if(window.pageYOffset > 0){
        nav.classList.remove('bg-transparent', 'navbar-open');
        nav.classList.add('bg-black');
      } else {
        nav.classList.remove('bg-black');
        nav.classList.add('bg-transparent');
      }
    };

    function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    window.onload = function() {
    if (!getCookie("cookiesAccepted")) {
        document.getElementById("cookieConsentContainer").style.display = "block";
    }

    document.getElementById("acceptCookies").onclick = function() {
        setCookie("cookiesAccepted", "true", 365);
        document.getElementById("cookieConsentContainer").style.display = "none";
    };
    };

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }


    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous" defer></script>

  </body>
</html>
