{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="The Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="The Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="URL de l'image à afficher sur les réseaux sociaux">

    <!-- Balises Twitter Card pour Twitter (remplacez les valeurs par les vôtres) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@votrecompte">
    <meta name="twitter:title" content="Nom de votre entreprise">
    <meta name="twitter:description" content="Entreprise de développement informatique de pointe spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques du futur.">
    <meta name="twitter:image" content="URL de l'image à afficher sur Twitter">

    <!-- Favicon -->
     <link rel="icon" href="{% static 'Logos/Icones/Icones-cyan-marron.png' %}" type="image/x-icon">

    <title>Bienvenue chez The Forge </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/iot.css' %}" rel="stylesheet">

  </head>
  <body style="background-color:#CAFFFF !important; color: #823712 !important">

  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#CAFFFF !important; color:#823712 !important;">
      <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'Logos/Principal/Principal_marron.svg' %}" alt="Logo The Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" style="background-color:transparent; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:transparent; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:about' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:about' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">Nous rejoindre</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-marron contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      <div class="mt-5 container HeroContainer text-marron m-auto">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 col-lg-6 col-sm-12 ">
            <div class="display-1">Innovation et Technologie au Cœur de l'IoT</div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <p class="mt-4" style="font-size:25px">Chez The Forge, nous fusionnons innovation et technologie pour transformer la façon dont les industries interagissent avec le matériel embarqué et l'IoT. Notre mission est d'élaborer des solutions qui non seulement connectent le monde physique et numérique, mais le font de manière intelligente, sécurisée et efficace.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section sur évaluation -->
    <section>
      <div class="container text-marron m-auto borderTop py-4">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-lg-6 col-sm-12" style="width:20rem;">
            <h3>Conception et Développement de Dispositifs IoT</h3>
            <p class="mt-4">Nous concevons et développons des dispositifs IoT sur mesure qui s'intègrent parfaitement dans divers environnements industriels et commerciaux. Nos solutions vont des capteurs intelligents aux appareils de communication, tous conçus pour collecter, analyser et transmettre des données de manière fiable.</p>
            <a class="btn btn-outline-marron">Nous parler de vos besoins</a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="{% static 'Assets/images/electronic-control-kit-diy-boards-2023-11-27-05-17-56-utc.jpg' %}" width="100%"/>
          </div>
        </div>
      </div>
    </section>
    <!-- Section évaluation -->

    <!-- Section sur Cyberattaque -->
    <section>
      <div class="container text-marron m-auto borderTop py-4">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="{% static 'Assets/Images/close-up-camera-screen-of-front-car-windshield-2023-11-27-05-29-57-utc.jpg' %}" width="100%"/>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12" style="width:20rem;">
            <h3>Sécurité des Systèmes Embarqués</h3>
            <p class="mt-4">La sécurité est une préoccupation majeure dans le domaine de l'IoT. Nos systèmes embarqués sont construits avec des protocoles de sécurité robustes pour protéger contre les intrusions, assurant la confidentialité et l'intégrité des données.</p>
            <a class="btn btn-outline-marron">Nous parler de vos besoins</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section cyberattaque -->

    <!-- Section sur Conformité -->
    <section>
      <div class="container text-marron m-auto borderTop py-4">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-lg-6 col-sm-12" style="width:20rem;">
            <h3>Intégration aux systèmes et plateformes existantes</h3>
            <p class="mt-4">L'intégration transparente de divers dispositifs et plateformes est essentielle pour une solution IoT efficace. Chez The Forge, nous garantissons que nos systèmes embarqués fonctionnent en harmonie avec les infrastructures existantes, permettant une gestion et un contrôle faciles.</p>
            <a class="btn btn-outline-marron">Nous parler de vos besoins</a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="{% static 'Assets/Images/vitre.jpg' %}" width="100%"/>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Conformité -->

     <!-- Section sur Sensibilisation -->
    <section>
      <div class="container text-marron m-auto borderTop py-4">
        <div class="row justify-content-between align-items-top">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="{% static 'Assets/Images/autonomous-delivery-robot-on-street-estonian-comp-2023-11-27-05-22-27-utc.jpg' %}" width="100%"/>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12" style="width:20rem;">
            <h3>Solutions IoT Intelligentes</h3>
            <p class="mt-4">Nous utilisons les dernières avancées en matière d'intelligence artificielle et d'apprentissage automatique pour rendre nos solutions IoT encore plus intelligentes. Cela permet une prise de décision en temps réel basée sur les données collectées, optimisant les performances et l'efficacité.</p>
            <a class="btn btn-outline-marron">Nous parler de vos besoins</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Sensibilisation -->

  </Main>

  <footer class="footer text-marron" style="margin-top:15rem; background-color:#CAFFFF;">
  <div class="container text-marron borderTop">
    <div class="row m-auto text-marron" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-marron">
        <img src="{% static 'Logos/Principal/Principal_marron.svg' %}" alt="Logo" height="60">
      </div>
      <div class="col-md-2 mb-3 mb-md-0 text-marron">
        <h5>The Forge</h5>
        <ul class="list-unstyled">
          <li><a href="#about" class="text-marron">À propos</a></li>
          <li><a href="#blog" class="text-marron">Blog</a></li>
          <li><a href="#faq" class="text-marron">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3 mb-md-0 text-marron">
        <h5>Services</h5>
        <ul class="list-unstyled">
          <li><a href="#about" class="text-marron">Intelligence artificielle</a></li>
          <li><a href="#blog" class="text-marron">Cybersécurité</a></li>
          <li><a href="#faq" class="text-marron">IOT</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Nous rejoindre</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-marron">Carrière</a></li>
          <li><a href="#" class="text-marron">Notre équipe</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@theforge.fr" class="text-marron">contact@theforge.fr</a></li>
          <li><a href="tel:0299123244" class="text-marron">02 99 12 32 44</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-6 flex-grow-1">
        <address class="text-marron">
          <strong>The Forge ltd</strong><br>
          5 CRS DE VERDUN GENSOUL<br>
          69002 LYON
          <abbr title="Phone"></abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-6 align-items-end" style="text-align:right">
         <a href="" class="text-marron unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="" class="text-marron unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <img src="{% static 'Assets/Motifs/horizontale/footer_marron.png' %}" width="100%" style="">
</footer>

    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });

    const paths = document.querySelectorAll('svg path');

    paths.forEach(path => {
        path.addEventListener('animationend', () => {
            path.classList.remove('draw-animation');
            path.classList.add('undraw-animation');
        });
    });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
