{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="The Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="The Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="URL de l'image à afficher sur les réseaux sociaux">

    <!-- Balises Twitter Card pour Twitter (remplacez les valeurs par les vôtres) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@votrecompte">
    <meta name="twitter:title" content="Nom de votre entreprise">
    <meta name="twitter:description" content="Entreprise de développement informatique de pointe spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques du futur.">
    <meta name="twitter:image" content="URL de l'image à afficher sur Twitter">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Logos/Icones/Icones_beige_vert.png' %}" type="image/x-icon">

    <title>The Forge - Carrière</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/join.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">

  </head>
  <body style="background-color:#FFF0D6 !important; color: #015453 !important; font-family: 'articulat-cf' !important;">

  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#FFF0D6 !important; color:#015453 !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo The Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Expertise
            </a>
            <ul class="dropdown-menu" style="background-color:#FFF0D6; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#FFF0D6; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">L'équipe</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-vert contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
       {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:#FFF0D7; border-style:solid; border-width:1px; border-color:#025453; color:#025453; padding:10px">
        <button type="button" class="btn-close" onclick="closeMessage()" style="position:absolute; left:5px; top:5px;"></button>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#025453"><path d="M12 28l16 16 24-24"/></svg>
             <h3>Succès !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
      <div class="container" style="margin-top:7rem;">
          <div class="row justify-content-center fade-up">
              <div class="col-md-6 col-sm-12 mb-4">
                  <div class="display-1">{{job.title}}</div>
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3 mt-4">
                      <label for="exampleFormControlInput1" class="form-label">Votre adresse email</label>
                      <input type="email" class="form-control" name='email' id="exampleFormControlInput1" placeholder="nom@exemple.com" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;" required>
                    </div>

                    <div class="mb-3 mt-3">
                      <label for="CVfile" class="form-label">Déposer votre CV</label>
                      <input class="form-control" accept='.pdf' type="file" id="CVfile" name="cv" style="background-color:transparent; color:#015453; border-color:#015453;" required>
                    </div>

                    <div class="mb-3">
                      <label for="CoverLetter" class="form-label">Déposer votre lettre de motivation</label>
                      <input class="form-control" accept='.pdf' type="file" name="cover_letter" id="CoverLetter" style="background-color:transparent; color:#015453; border-color:#015453;" required>
                    </div>
                    <button class="btn btn-outline-vert w-100 mt-2">Postuler</button>
                  </form>
              </div>
              <div class="col-md-6 col-sm-12">
                <h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#015453"><path d="M12 27.2C12 46.4 32 56 32 56s20-9.6 20-28.8C52 16.6 43.05 8 32 8s-20 8.6-20 19.2z"/><circle cx="32" cy="26.88" r="6.88"/></svg>
                    {{job.location}}

                    <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#015453"><path d="M16 20h32M16 44h32M48 32H16M8 8h48v48H8z"/></svg>
                    {{job.type}}

                    <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#015453"><path d="M32 8v8M32 56v-8M56 32h-8M8 32h8M48.97 15.03L32 32M15.03 48.97l5.66-5.66M48.97 48.97l-5.66-5.66M15.03 15.03l5.66 5.66"/><circle cx="32" cy="32" r="24"/></svg>
                    {{job.last_date_to_apply}}</h3>
                  <p class="mt-4">{{job.description|linebreaksbr}}</p>
              </div>
          </div>
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section Postes ouverts -->
   <section id="PostesOuverts">
     <div class="container m-auto mt-5 fade-up">
       <h1 class="text-vert">Autres postes ouverts</h1>
       <div class="row m-auto">
         {% for j in jobs %}
         {% if j %}
           {% if j.title != job.title and j.title != 'candidature_libre' %}
           <a href="{% url 'Main:job' j.pk %}" class="row col-12 p-4 justify-content-between borderTop job">
             <div class="col-6 text-vert">{{j.title}}</div>
             <div class="col-6 text-vert">Publié le {{j.posted_at|date:"d F Y"}}</div>
           </a>
           {% endif %}
         {% else %}
         <p>Aucun poste ouvert pour le moment.</p>
         {% endif %}
         {% endfor %}
       </div>
     </div>

   </section>

  </Main>

  <footer class="footer text-vert" style="margin-top:15rem; background-color:#FFF0D6;">
  <div class="container text-vert borderTop">
    <div class="row m-auto text-vert" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-vert">
        <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo" height="60">
      </div>
      <div class="col-md-2 mb-3 mb-md-0 bleu">
        <h5>Expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-vert">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-vert">Cybersécurité</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-vert">IOT</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-vert">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-vert">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-vert">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-vert">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@theforge.fr" class="text-vert">contact@theforge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-vert">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-6 flex-grow-1">
        <address class="">
          <strong>The Forge ltd</strong><br>
          5 CRS DE VERDUN GENSOUL<br>
          69002 LYON
        </address>
      </div>
      <div class="col-6 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <img src="{% static 'Assets/Motifs/horizontale/footer_vert.webp' %}" width="100%" style="">
</footer>

    <script>
       function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };
    </script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
