<!DOCTYPE html>
<html>
<head></head>
<body style="background-color:#015453; color:#FBC88B;">
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh; padding:50px;">
    <div style="text-align: center;">
      <div><a href="https://www.theforge.fr"><img src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/409937312_10232366695173451_1420977515159510776_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=3635dc&_nc_ohc=Da2TINFPYOIAX-_fKR_&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDBURr0n5XA1660VOMpum3SfKRh08ECeViQyJB3Ccy7eg&oe=657D7C55" width="300px"></a></div>
      <div>
        <h1 style="font-size:40px; font-weight:900;">Merci pour votre candidature !</h1>
        <p style="font-size:20px; ">Merci pour votre intérêt pour The Forge ! Nous avons bien reçu votre candidature et nous vous contacterons prochainement.</p>
        <p style="font-size:20px;"> <strong>L'équipe The Forge</strong></p>
      </div>
    </div>
  </div>
</body>
</html>