{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="The Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="The Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.theforge.fr">
    <meta property="og:image" content="URL de l'image à afficher sur les réseaux sociaux">

    <!-- Balises Twitter Card pour Twitter (remplacez les valeurs par les vôtres) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@votrecompte">
    <meta name="twitter:title" content="Nom de votre entreprise">
    <meta name="twitter:description" content="Entreprise de développement informatique de pointe spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques du futur.">
    <meta name="twitter:image" content="URL de l'image à afficher sur Twitter">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Logos/Icones/Icones_beige_vert.png' %}" type="image/x-icon">

    <title>The Forge - Carrière</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/join.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">

  </head>
  <body style="background-color:#FFF0D6 !important; color: #015453 !important; font-family: 'articulat-cf' !important;">

  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#FFF0D6 !important; color:#015453 !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo The Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" style="background-color:#FFF0D6; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#FFF0D6; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">Nous rejoindre</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-vert contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:#FFF0D7; border-style:solid; border-width:1px; border-color:#025453; color:#025453; padding:10px">
        <button type="button" class="btn-close" onclick="closeMessage()" style="position:absolute; left:5px; top:5px;"></button>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#025453"><path d="M8 12h48v40H8z"/><path d="M56 20L32 36 8 20"/></svg>
             <h3>Merci !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
      <div class="mt-5 container HeroContainer text-vert m-auto fade-up">
        <div class="row justify-content-between align-items-center">
          <div class="col-sm-12 col-md-6 display-2">Rejoindre l'équipe</div>
          <div class="col-sm-12 col-md-6 mt-4">
            <p style="font-size:20px !important;">Nous cherchons des esprits créatifs et passionnés, désireux de repousser les frontières de la technologie et de contribuer à construire un avenir numérique sûr et inclusif. Chez nous, vous trouverez un environnement où l'innovation, la collaboration, et la croissance personnelle ne sont pas seulement valorisées, mais essentielles. </p>
            <button class="btn btn-outline-vert" onclick="scrollDown()">Voir les postes ouverts</button>
          </div>
        </div>
          <img class='mt-5' src="{% static 'Assets/images/conseil.JPG' %}" alt="L'équipe de The Forge en session brainstorm" width="100%">
      </div>
    </section>
    <!-- Section Hero -->

    <!-- Section citation -->
    <section>
      <div class="container py-4 borderTopBottom text-vert m-auto fade-up">
        <div class="display-1 fst-italic m-auto">
          « L’innovation est un travail d’équipe. Parce que personne ne peut réussir tout seul, nous mettons tout en oeuvre pour que nos équipes puissent travailler ensemble dans les meilleures conditions »
        </div>
      </div>
    </section>
    <!-- Section citation -->

    <!-- Section Postes ouverts -->
   <section id="PostesOuverts">
     <div class="container m-auto mt-5 fade-up">
       <h1 class="text-vert">Postes ouverts</h1>
       <div class="row m-auto">
         {% for j in jobs %}
         {% if j %}
           {% if j.title != job.title and j.title != 'candidature_libre' %}
           <a href="{% url 'Main:job' j.pk %}" class="row col-12 p-4 justify-content-between borderTop job">
             <div class="col-6 text-vert">{{j.title}}</div>
             <div class="col-6 text-vert">Publié le {{j.posted_at|date:"d F Y"}}</div>
           </a>
           {% endif %}
         {% else %}
         <p>Aucun poste ouvert pour le moment.</p>
         {% endif %}
         {% endfor %}
       </div>
       {% if user.is_staff %}
       <a class='text-vert ms-4' href="{% url 'Main:create_job' %}"> + Créer un nouveau poste </a>
       {% endif %}
       <button class="w-100 btn btn-outline-vert mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size:30px">Candidature libre</button>
     </div>

   </section>
    <!-- Section citation -->



  </Main>

  <footer class="footer text-vert" style="margin-top:15rem; background-color:#FFF0D6;">
  <div class="container text-vert borderTop">
    <div class="row m-auto text-vert" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-vert">
        <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo" height="60">
      </div>
      <div class="col-md-2 mb-3 mb-md-0 bleu">
        <h5>Services</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-vert">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-vert">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-vert">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-vert">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-vert">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-vert">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-vert">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Suivez-nous</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-vert">LinkedIn</a></li>
          <li><a href="#" class="text-vert">Twitter</a></li>
          <li><a href="#" class="text-vert">Facebook</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@theforge.fr" class="text-vert">contact@theforge.fr</a></li>
          <li><a href="tel:0299123244" class="text-vert">02 99 12 32 44</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-6 flex-grow-1">
        <address class="">
          <strong>The Forge</strong><br>
          5 CRS DE VERDUN GENSOUL<br>
          69002 LYON
          <abbr title="Phone"></abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-6 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <img src="{% static 'Assets/Motifs/horizontale/footer_vert.png' %}" width="100%" style="">
</footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#FFF0D6; border-color:#014948">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Candidature libre</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-4">
              <label for="exampleFormControlInput1" class="form-label">Votre adresse email</label>
              <input type="email" class="form-control" name='email' id="exampleFormControlInput1" placeholder="nom@exemple.com" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;" required>
            </div>

            <div class="mb-3 mt-3">
              <label for="CVfile" class="form-label">Déposer votre CV</label>
              <input class="form-control" accept='.pdf' type="file" id="CVfile" name="cv" style="background-color:transparent; color:#015453; border-color:#015453;" required>
            </div>

            <div class="mb-3">
              <label for="CoverLetter" class="form-label">Déposer votre lettre de motivation</label>
              <input class="form-control" accept='.pdf' type="file" name="cover_letter" id="CoverLetter" style="background-color:transparent; color:#015453; border-color:#015453;" required>
            </div>
            <button class="btn btn-outline-vert w-100 mt-2">Postuler</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });

    function scrollDown() {
      document.getElementById('PostesOuverts').scrollIntoView({
        behavior: 'smooth' // Défilement doux
      });
    }

    function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
