{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="Tech Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="Tech Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.tech-forge.fr">
    <meta property="og:image" content="https://studio-script.sgp1.cdn.digitaloceanspaces.com/studio-script-static/img/facebook-socialsizes_Open%20Graph.png">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Logos/Icones/Icones_beige_vert.png' %}" type="image/x-icon">

    <title>Tech Forge - Carrière</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/join.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">
   <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WND3G6HJ');</script>
    <!-- End Google Tag Manager -->
  </head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-74E6QKK31W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-74E6QKK31W');
</script>

  <body style="background-color:#FFF0D6 !important; color: #015453 !important; font-family: 'articulat-cf' !important;">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WND3G6HJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNavbar" style="background-color:#FFF0D6 !important; color:#015453 !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo Tech Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notre expertise
            </a>
            <ul class="dropdown-menu" style="background-color:#FFF0D6; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#FFF0D6; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">L'équipe</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-vert contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      {% if messages %}
      <div class="messages row justify-content-center align-items-center" id='messageBox' style="position:fixed; top:100px; right:25px; text-align:center; background-color:#FFF0D7; border-style:solid; border-width:1px; border-color:#025453; color:#025453; padding:10px">
        <button type="button" class="btn-close" onclick="closeMessage()" style="position:absolute; left:5px; top:5px;"></button>
        {% for message in messages %}
          <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="2px" stroke="#025453"><path d="M8 12h48v40H8z"/><path d="M56 20L32 36 8 20"/></svg>
             <h3>Merci !</h3>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
      <div class="mt-5 container HeroContainer text-vert m-auto fade-up">
        <div class="row justify-content-between align-items-center">
          <div class="col-sm-12 col-md-6 display-2">L'équipe Tech Forge</div>
          <div class="col-sm-12 col-md-6 mt-4">
            <p style="font-size:20px !important;">Nous sommes une équipe créative et passionnée, désireuse de repousser les frontières de la technologie et de contribuer à construire un avenir numérique sûr et inclusif.  </p>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-vert" onclick="scrollDown()">Nous rejoindre</button>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

    <section>
      <div class="container text-vert m-auto borderTop py-4">
        <div class="row justify-content-between">
          <div class="col-sm-12 col-md-6 col-lg-6 fade-up">
             <h1>Innovation, Intégrité et Collaboration</h1>
             <p>Formée de professionnels passionnés et dévoués, notre collectif travaille harmonieusement pour apporter des solutions innovantes et fiables à nos clients. Chaque projet est une opportunité pour nous de démontrer notre engagement et notre passion. </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="fade-up">
              <h3 class="mb-4"> <svg class='me-3' xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><path d="M16 32h32L36 20 48 8H16v48"/></svg>Innovation Continue</h3>
              <p>Nous croyons en une amélioration continue et en l'importance de tester de nouvelles choses. Notre équipe s'engage à explorer, à repousser les limites de l'existant et à constamment apporter des solutions innovantes.</p>
            </div>
            <hr>
            <div class="fade-up">
              <h3 class="mb-4"><svg class='me-3' xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="8"/><path d="M56 32s-8 16-24 16S8 32 8 32s8-16 24-16 24 16 24 16z"/></svg>Intégrité et transparence</h3>
              <p>L'intégrité est essentielle. Nous opérons avec transparence, éthique et responsabilité, assurant à nos clients autant qu'à nos équipes des partenariats basés sur la confiance et le respect mutuel. </p>
            </div>
            <hr>
            <div class="fade-up">
              <h3 class="mb-4"><svg class='me-3' xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><path d="M28 44h-8A12 12 0 0 1 8 32h0a12 12 0 0 1 12-12h8M36 20h8a12 12 0 0 1 12 12h0a12 12 0 0 1-12 12h-8M20 32h24"/></svg>Collaboration et Esprit d'Équipe</h3>
              <p>Nous valorisons la collaboration, le partage des connaissances et le travail d'équipe, convaincus que c'est ensemble que nous créons le meilleur. </p>
            </div>
            <hr>
            <div class="fade-up">
              <h3 class="mb-4"><svg class='me-3' xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64" fill="none" stroke-width="1px" stroke="#000"><circle cx="32" cy="32" r="24"/><path d="M40.49 40a12 12 0 0 1-3.82 2.57 12.07 12.07 0 0 1-9.34 0A12 12 0 0 1 23.51 40M40 24h-4M28 24h-4"/></svg>Développement Professionnel et Personnel</h3>
              <p>L'épanouissement de nos collaborateurs est primordial. Nous investissons dans le développement professionnel et personnel, car nous savons que le bien-être et la croissance de notre équipe sont directement liés à la qualité de notre travail.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container text-vert m-auto borderTop py-4" style="margin-top:4rem;">
      <div class='mb-5 text-center fade-up'>
        <p>career path</p>
        <h1 class="m-auto mb-2">Tracez Votre Voie</h1>
        <h4 class="m-auto mb-5" style="max-width:600px;">Nous nous engageons à cultiver le potentiel de chaque membre de notre équipe. Nous offrons un parcours professionnel clair et évolutif, conçu pour accompagner nos talents dans leur développement et les aider à atteindre de nouveaux sommets de réussite. </h4>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="row fade-up">
              <div class="col-auto col-md-12" style="padding-right:0 !important; padding-left:0 !important;">

                <!-- Step -->
                <div class="row gx-0 align-items-center mb-md-5">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>1</span>
                    </a>

                  </div>
                  <div class="col">

                    <hr class="d-none d-md-block me-n7">

                  </div>
                </div> <!-- / .row -->

              </div>

              <div class="col col-md-12 ms-n5 ms-md-0" style="padding-left:0 !important; padding-right:30px !important;">

                <!-- Heading -->
                <h3 class="padding-sm-left">
                  Stages : apprendre aux côtés de développeurs passionnés
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0 p-0" style="margin-top:0.6rem;">
                  Commencez votre parcours en immersion dans le monde réel de la technologie. En tant que stagiaire, vous aurez l'opportunité d'apprendre aux côtés de mentors expérimentés et de contribuer à des projets significatifs, posant ainsi les fondations solides de votre future carrière.
                </p>
                <br>
                <!-- Text -->


              </div>
            </div> <!-- / .row -->
          </div>
          <div class="col-12 col-md-3">
            <div class="row fade-up">
              <div class="col-auto col-md-12" style="padding-left:0 !important; padding-right:0 !important;">

                <!-- Step -->
                <div class="row gx-0 align-items-center mb-md-5" style="padding-right:0 !important;">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>2</span>
                    </a>

                  </div>
                  <div class="col">

                    <hr class="d-none d-md-block me-n7">

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="col col-md-12 ms-n5 ms-md-0 p-0" style="padding-left:0 !important; padding-right:30px !important;">

                <!-- Heading -->
                <h3 class="padding-sm-left">
                  Développeur : Codez, Innovez, Progressez
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0" style="margin-top:2.6rem;">
                  Participez à des projets complexes, affinez votre expertise technique en collaborant avec des ingénieurs passionnés et commencez à laisser votre empreinte dans l'industrie en participant à des solutions qui ont un impact.
                </p>
                <br>

              </div>
            </div> <!-- / .row -->
          </div>

          <div class="col-12 col-md-3">
            <div class="row fade-up">
              <div class="col-auto col-md-12" style="padding-left:0 !important; padding-right:0 !important;">

                <!-- Step -->
                <div class="row gx-0 align-items-center mb-md-5" style="padding-right:0 !important;">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>3</span>
                    </a>

                  </div>
                  <div class="col">

                    <hr class="d-none d-md-block me-n7">

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="col col-md-12 ms-n5 ms-md-0 p-0" style="padding-left:0 !important; padding-right:30px !important;">

                <!-- Heading -->
                <h3 class="padding-sm-left">
                  Lead Développeur : prenez les choses en main
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0" style="margin-top:0.6rem;">
                  En tant que lead développeur, vous dirigerez des équipes, piloterez des initiatives de développement et prendrez des décisions critiques qui façonneront l'avenir de nos solutions. </p>
                <br>

              </div>
            </div> <!-- / .row -->
          </div>

          <div class="col-12 col-md-3">
            <div class="row fade-up">
              <div class="col-auto col-md-12" style="padding-left:0 !important;">

                <!-- Step -->
                <div class="row gx-0 align-items-center mb-md-5">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>4</span>
                    </a>

                  </div>
                </div> <!-- / .row -->

              </div>
              <div class="col col-md-12 ms-n5 ms-md-0 p-0" style="padding-left:0 !important; padding-right:30px !important;">

                <!-- Heading -->
                <h3>
                  Devenez Associé Tech Forge
                </h3>

                <!-- Text -->
                <p class="text-muted mb-0" style="margin-top:2.8rem;">
                  Vous participez aux projets en collaboration avec les autres équipes, mais vous participez également aux nouveaux projets internes à Tech Forge.</p>
              </div>
            </div> <!-- / .row -->
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- Section citation -->
    <section>
      <div class="container py-4 borderTopBottom text-vert m-auto fade-up">
        <div class="m-auto">
          <div class="display-4 fst-italic">« L’innovation est un travail d’équipe. Parce que personne ne peut réussir tout seul, nous mettons tout en œuvre pour que nos équipes puissent travailler ensemble dans les meilleures conditions »</div>
          <h4 class="mt-2">Adrien Schwartzentruber, fondateur de Tech Forge</h4>
        </div>
      </div>
    </section>
    <!-- Section citation -->

    <!--
   <section id="PostesOuverts">
     <div class="container m-auto mt-5 fade-up">
       <h1 class="text-vert">Postes ouverts</h1>
       <div class="row m-auto">
         {% for j in jobs %}
         {% if j %}
           {% if j.title != job.title and j.title != 'candidature_libre' %}
           <a href="{% url 'Main:job' j.pk %}" class="row col-12 p-4 justify-content-between borderTop job">
             <div class="col-6 text-vert">{{j.title}}</div>
             <div class="col-6 text-vert">Publié le {{j.posted_at|date:"d F Y"}}</div>
           </a>
           {% endif %}
         {% else %}
         <p>Aucun poste ouvert pour le moment.</p>
         {% endif %}
         {% endfor %}
       </div>
       {% if user.is_staff %}
       <a class='text-vert ms-4' href="{% url 'Main:create_job' %}"> + Créer un nouveau poste </a>
       {% endif %}
       <button class="w-100 btn btn-outline-vert mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size:30px">Candidature libre</button>
     </div>

   </section>
  -->



  </Main>

  <footer class="footer text-vert" style="margin-top:15rem; background-color:#FFF0D6;">
  <div class="container text-vert borderTop" style="margin-bottom:150px;">
    <div class="row m-auto text-vert" style="padding-top:50px; padding-bottom:50px;">
    <div class="row m-auto text-vert" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-vert">
        <img src="{% static 'Logos/Principal/Principal_vert.svg' %}" alt="Logo" height="40">
      </div>
      <div class="col-md-3 mb-3 mb-md-0 bleu">
        <h5>Notre expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-vert">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-vert">IOT</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-vert">Cybersécurité</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-vert">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-vert">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-vert">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-vert">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@tech-forge.fr" class="text-vert">contact@tech-forge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-vert">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto">
      <div class="col-12 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-vert unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
  </div>
    <div class='row' style="width: 100%; height: auto; margin-right: 0; margin-left: 0;">
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_vert.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100.4%; height:auto;">
      </div>
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_vert.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100%; height:auto;">
      </div>
    </div>
</footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#FFF0D6; border-color:#014948">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Candidature libre</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-4">
                <label for="firstName" class="form-label">Votre prénom</label>
                <input type="text" class="form-control" name='first_name' id="firstName" style="background-color:transparent; color:black; border-color:black; outline: none;box-shadow: none;" required>
            </div>

            <div class="mb-3 mt-4">
                <label for="lastName" class="form-label">Votre nom</label>
                <input type="text" class="form-control" name='last_name' id="lastName" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;" required>
            </div>

            <div class="mb-3 mt-4">
              <label for="phoneInput" class="form-label">Votre numéro de téléphone</label>
              <input type="tel" class="form-control" name="phone" id="phoneInput" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;" required>
              <div class="invalid-feedback">
                Veuillez entrer un numéro de téléphone valide (ex. 01 23 45 67 89).
              </div>
            </div>

            <div class="mb-3 mt-4">
              <label for="exampleFormControlInput1" class="form-label">Votre adresse email</label>
              <input type="email" class="form-control" name='email' id="exampleFormControlInput1" style="background-color:transparent; color:#015453; border-color:#015453; box-shadow: 0 0 0px transparent;" required>
            </div>

            <div class="mb-3 mt-3">
              <label for="CVfile" class="form-label">Déposer votre CV</label>
              <input class="form-control" accept='.pdf' type="file" id="CVfile" name="cv" style="background-color:transparent; color:#015453; border-color:#015453;" required>
            </div>

            <div class="mb-3">
              <label for="CoverLetter" class="form-label">Déposer votre lettre de motivation</label>
              <input class="form-control" accept='.pdf' type="file" name="cover_letter" id="CoverLetter" style="background-color:transparent; color:#015453; border-color:#015453;" required>
            </div>

             <!-- Widget reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="6LdZ8jwpAAAAAL64AnNOkS2eE7gMn4tFWUeF8VeL"></div>

            <button class="btn btn-outline-vert w-100 mt-2">Postuler</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div id="cookieConsentContainer" style="display:none; position:fixed; bottom:0; width:40%; right:0; background-color:#FFF0D6 !important; color: #015453 !important;  border-color:#015453; border-style:solid; border-width:1px; padding: 15px; text-align: center;">
    <p style="color:#015453 !important">
        Ce site utilise des cookies pour améliorer l'expérience utilisateur.
        <a class="nav-link" href="{% url 'Main:Mentions' %}">En savoir plus</a>
    </p>
    <button class="btn btn-outline-vert" id="acceptCookies">Accepter</button>
  </div>
  <!-- Modal -->
    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });

    function scrollDown() {
      document.getElementById('PostesOuverts').scrollIntoView({
        behavior: 'smooth' // Défilement doux
      });
    }

    function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    window.onload = function() {
    if (!getCookie("cookiesAccepted")) {
        document.getElementById("cookieConsentContainer").style.display = "block";
    }

    document.getElementById("acceptCookies").onclick = function() {
        setCookie("cookiesAccepted", "true", 365);
        document.getElementById("cookieConsentContainer").style.display = "none";
    };
    };

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    </script>

    <script>
       document.getElementById('phoneInput').addEventListener('input', function(e) {
        var input = e.target.value.replace(/\D/g, '');  // Supprime tous les caractères non numériques
        var formattedInput = '';

        // Boucle pour ajouter des tirets tous les deux chiffres
        for (var i = 0; i < input.length; i++) {
          if (i !== 0 && i % 2 === 0) {
            formattedInput += '-';
          }
          formattedInput += input[i];
        }

        // Met à jour la valeur du champ de saisie avec le format correct
        e.target.value = formattedInput;
      });

      window.onload = function() {
    if (!getCookie("cookiesAccepted")) {
        document.getElementById("cookieConsentContainer").style.display = "block";
    }

    document.getElementById("acceptCookies").onclick = function() {
        setCookie("cookiesAccepted", "true", 365);
        document.getElementById("cookieConsentContainer").style.display = "none";
    };
    };

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
