{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Balises pour référencement naturel -->
    <meta name="description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta name="keywords" content="développement informatique, intelligence artificielle, IA, solutions technologiques, innovation, Web3, Informatique">
    <meta name="author" content="Tech Forge">

    <!-- Balises Open Graph pour les réseaux sociaux (remplacez les valeurs par les vôtres) -->
    <meta property="og:title" content="Tech Forge">
    <meta property="og:description" content="Une Équipe de développement informatique spécialisée dans l'intelligence artificielle. Offrant des solutions innovantes pour les défis technologiques de demain.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.tech-forge.fr">
    <meta property="og:image" content="https://studio-script.sgp1.cdn.digitaloceanspaces.com/studio-script-static/img/facebook-socialsizes_Open%20Graph.png">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'Logos/Icones/Icones_vert_gris.png' %}" type="image/x-icon">

    <title>Bienvenue chez Tech Forge </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/Charte.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eqx7rzk.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WND3G6HJ');</script>
    <!-- End Google Tag Manager -->

  </head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-74E6QKK31W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-74E6QKK31W');
</script>

  <body style="background-color:#E5EEFF !important; color:#2F3540 !important; font-family: 'articulat-cf' !important;">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WND3G6HJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
  <!-- Barre de navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white" id="mainNavbar" style="background-color:#E5EEFF !important; color:#FFC98A !important;">
      <div class="container">
      <a class="navbar-brand" href="{% url 'Main:index' %}">
        <img src="{% static 'Logos/Principal/Principal_bleu_foncé.svg' %}" alt="Logo Tech Forge" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:index' %}">Accueil</a>
          </li>
          <!-- Menu déroulant pour les services -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notre expertise
            </a>
            <ul class="dropdown-menu" style="background-color:#E5EEFF; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:ai' %}">Intelligence artificielle</a></li>
              <li><a class="nav-link" href="{% url 'Main:cyber' %}">Cybersécurité</a></li>
              <li><a class="nav-link" href="{% url 'Main:iot' %}">IOT et matériel embarqué</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu" style="background-color:#E5EEFF; border-style:none;">
              <li><a class="nav-link" href="{% url 'Main:about' %}">À propos</a></li>
              <li><a class="nav-link" href="{% url 'Main:blog' %}">Blog</a></li>
              <li><a class="nav-link" href="{% url 'Main:faq' %}">FAQ</a></li>
              <li><a class="nav-link" href="{% url 'Main:charte' %}">Charte</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Main:join' %}">Nous rejoindre</a>
          </li>
        </ul>
          <a type="button" class="btn btn-outline-bleu_foncé contact-item" href="{% url 'Main:contact' %}">Nous contacter</a>
      </div>
    </div>
    </nav>
  </div>
</header>

  <!-- Section services -->
  <Main>
    <!-- Section Hero -->
    <section>
      <div class="mt-5 container HeroContainer text-bleu_foncé m-auto">
        <div class="row justify-content-between align-items-top">
          <div class="col-sm-12 col-md-6">
            <div class="display-1">Mentions légales</div>
            <h3>Tech Forge s'engage à respecter l'ensemble des obligations légales et règlementaires en vigueur.</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Hero -->

     <!-- Section Notre Engagement -->
    <section>
      <div class="pt-2 container borderTop mt-4" style="padding-bottom:60px !important;">
        <div class="row justify-content-start">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <p>Site mis à jour le 17 décembre 2023 <br> <a href='#' class="nav-link link-bleu" style="color:black !important">Contacter l'administrateur du site</a></p>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <p>
                En naviguant sur nos pages, vous entrez virtuellement dans l'espace où innovation et technologie se rencontrent pour forger un avenir numérique audacieux et responsable. Ce site est le reflet de notre engagement envers l'excellence et l'intégrité dans le domaine de l'intelligence artificielle et de la cybersécurité. Nous vous invitons à prendre connaissance des informations légales qui régissent l'utilisation de notre plateforme. Ces mentions sont mises à disposition pour assurer transparence et confiance, éléments clés de la relation que nous souhaitons établir avec nos utilisateurs, partenaires et visiteurs.
              </p>
              <br>
              <br>

              <h1>Éditeur du site internet</h1>
              <p>
                <strong> As Consulting, </strong> <br>
                5 CRS DE VERDUN GENSOUL <br>
                69002 LYON 2EME <br>
                SIRET : 97822166100017 <br>
                Numéro RCS : 978 221 661 R.C.S. Lyon
              </p>
              <br>
              <br>

              <h1>Hébergement</h1>
              <p>
                Le site www.theforge.fr est hébergé sur un serveur OVH en France métropolitaine, respectant les lois et reglementations en vigueur.
              </p>
              <br>
              <br>

              <h1>Conditions d'utilisation</h1>
              <p>
                L’utilisation de ce site est régie par nos conditions générales d'utilisation. En utilisant notre site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées.
              </p>
              <br>
              <br>

              <h1>Données personnelles</h1>
              <p>
                Conformément au règlement général sur la protection des données (RGPD) officiellement appelé Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 (RGPD), les informations recueillies via le site www.theforge.fr peuvent donner lieu à l'exercice du droit d'accès, de rectification, de suppression des informations vous concernant en nous contactant via contact@tech-forge.fr.
              </p>
              <br>
              <br>

               <h1>Propriété intellectuelle</h1>
              <p>
                Les contenus de ce site (structure, design, texte, image, animation, logo) sont la propriété exclusive de Tech Forge. Toute reproduction, copie ou utilisation par quelque procédé que ce soit sans l'accord de Tech Forge peut constituer une contrefaçon sanctionnée par le Code de la propriété intellectuelle.              </p>
              <br>
              <br>

            </div>
          </div>
        </div>
    </section>
    <!-- Section notre engagement -->


  </Main>

  <footer class="footer text-bleu_foncé" style="margin-top:5rem; background-color:#E5EEFF;">
  <div class="container text-bleu_foncé borderTop" style="margin-bottom:150px;">
    <div class="row m-auto text-bleu_foncé" style="padding-top:50px; padding-bottom:50px;">
      <div class="col-md-3 mb-3 mb-md-0 text-bleu_foncé">
        <a href="{% url 'Main:index' %}">
          <img src="{% static 'Logos/Principal/Principal_bleu_foncé.svg' %}" alt="Logo" height="40">
        </a>
      </div>
      <div class="col-md-3 mb-3 mb-md-0 text-bleu_foncé">
        <h5>Notre expertise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:ai' %}" class="text-bleu_foncé">Intelligence artificielle</a></li>
          <li><a href="{% url 'Main:cyber' %}" class="text-bleu_foncé">Cybersécurité</a></li>
          <li><a href="{% url 'Main:iot' %}" class="text-bleu_foncé">IOT</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Entreprise</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'Main:join' %}" class="text-bleu_foncé">Nous rejoindre</a></li>
          <li><a href="{% url 'Main:blog' %}" class="text-bleu_foncé">Blog</a></li>
          <li><a href="{% url 'Main:faq' %}" class="text-bleu_foncé">FAQ</a></li>
          <li><a href="{% url 'Main:charte' %}" class="text-bleu_foncé">Charte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled">
          <li><a href="mailto:contact@tech-forge.fr" class="text-bleu_foncé">contact@tech-forge.fr</a></li>
          <li><a href="https://www.linkedin.com/company/theforgefr/about/?viewAsMember=true" class="text-bleu_foncé">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="borderTop row pt-3 justify-content-around m-auto text-bleu_foncé">
      <div class="col-12 align-items-end" style="text-align:right">
         <a href="{% url 'Main:Conditions' %}" class="text-bleu_foncé unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Conditions générales d'utilisation</a><br>
        <a href="{% url 'Main:Mentions' %}" class="text-bleu_foncé unstyled" style="text-align:right; margin:0 !important; margin-bottom:0px !important;">Mentions légales</a>
      </div>
    </div>
  </div>
    <div class='row' style="width: 100%; height: auto; margin-right: 0; margin-left: 0;">
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_bleu_fonce.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100.4%; height:auto;">
      </div>
      <div class="col-6 px-0">
          <img loading="lazy" src="{% static 'Assets/Motifs/horizontale/footer_bleu_fonce.webp' %}" alt="grille d'illustration géometrique du footer" style="width: 100%; height:auto;">
      </div>
    </div>
</footer>


  <div id="cookieConsentContainer" style="display:none; position:fixed; bottom:0; width:40%; right:0; background-color:#E5EEFF !important; color:#2F3540 !important;  border-color:#2F3540 ; border-style:solid; border-width:1px; padding: 15px; text-align: center;">
    <p style="color:#2F3540 !important">
        Ce site utilise des cookies pour améliorer l'expérience utilisateur.
        <a class="nav-link" href="{% url 'Main:Mentions' %}">En savoir plus</a>
    </p>
    <button class="btn btn-outline-bleu_foncé" id="acceptCookies">Accepter</button>
  </div>



    <script>

   document.addEventListener('DOMContentLoaded', function () {
      var navbarToggler = document.querySelector('.navbar-toggler');
      var navbar = document.querySelector('.navbar'); // Assurez-vous que cela cible le bon élément

      navbarToggler.addEventListener('click', function() {
        navbar.classList.toggle('navbar-open'); // Basculer la classe pour toute la navbar
      });
    });


     function closeMessage() {
    document.getElementById('messageBox').style.display = 'none';
    };

    window.onload = function() {
    if (!getCookie("cookiesAccepted")) {
        document.getElementById("cookieConsentContainer").style.display = "block";
    }

    document.getElementById("acceptCookies").onclick = function() {
        setCookie("cookiesAccepted", "true", 365);
        document.getElementById("cookieConsentContainer").style.display = "none";
    };
    };

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    </script>


    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>
