<!DOCTYPE html>
<html>
<head></head>
<body style="background-color:#F5F6F1; color:black;">
  <div class="container" style="border-radius:15px; padding:2rem; margin-left:auto; margin-right:auto; margin-top:4rem; margin-bottom:4rem; display: flex; justify-content: center; align-items: center; height: 500px; width:50%; padding:70px; background-color:white;">
    <div style="text-align: center;">
      <div><a href="https://www.theforge.fr">
        <img width="150" src="https://studio-script.sgp1.cdn.digitaloceanspaces.com/studio-script-static/img/Principal.jpg">
      </a></div>
      <div>
        <h3 style="font-size:40px; font-weight:900;">Merci pour votre message !</h3>
        <p style="font-size:20px; ">Nous avons bien reçu votre message. Notre équipe étudie attentivement votre demande et reviens vers vous très prochainement. </p>
        <p style="font-size:20px;"> <strong>L'équipe The Forge</strong></p>
        <a style="color:black; font-weight:900" href="https://www.theforge.fr">www.theforge.fr</a>
      </div>
    </div>
  </div>
</body>
</html>